@media screen and (max-width: 576px) {
  #headerNav {
    padding-top: 0px;
  }
  #headerNav > nav {
    width: 100%;
    border-radius: 0px;
  }
  #headerContent {
    width: 95%;
  }
  #header-content-title {
    padding: 0px 0;
  }
  #header-content-title > div:nth-of-type(1) {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header-content-title > div:nth-of-type(1) > h1 {
    font-size: 20px;
    text-align: center;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 40px;
    text-align: center;
  }
  #header-content-title > div:nth-of-type(1) > div > img {
    width: 50px;
  }
  #header-content-title > div:nth-of-type(2) {
    padding-block: 50px;
  }
  #header-content-title > div:nth-of-type(2) > figure {
    justify-content: center;
  }
  #header-content-title > div:nth-of-type(2) > figure > span {
    right: 10%;
  }
  #header-content-banner {
    width: 100%;
  }
  #header-content-banner > figure > img:nth-of-type(1) {
    width: 100%;
  }
  #header-content-banner > figure > img:nth-of-type(2) {
    top: -43px;
    left: -30px;
  }
  #header-content-banner > span > img {
    width: 120px;
  }
  #header-content-banner > span > div > span {
    width: 30px;
    height: 30px;
  }
  #header-content-banner > span > div > span > i {
    font-size: 25px;
  }
  #header-content-banner > span > div > p {
    font-size: 16px;
  }
  main {
    padding-top: 80px;
  }
  #creativity {
    width: 100%;
  }
  #creativity #creativity-img > figure {
    display: flex;
    justify-content: center;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 400px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 400px;
    left: 25px;
  }
  #creativity #creativity-content {
    padding-left: 20px;
    margin-top: 50px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #creativity #creativity-content > div {
    width: 400px;
  }
  #main-services #services-title {
    width: 100%;
  }
  #main-services #services-title > h3 {
    font-size: 30px;
    text-align: center;
  }
  #main-services #services-content {
    width: 95%;
  }
  #main-services #services-content > section {
    padding: 20px;
  }
  #main-showcase #showcase-title {
    width: 100%;
  }
  #main-showcase #showcase-title > div {
    padding-top: 50px;
    text-align: center;
  }
  #main-showcase #showcase-title > div > p {
    justify-content: center;
  }
  #main-showcase #showcase-title #showcase-btns {
    justify-content: center;
  }
  #main-showcase #showcase {
    width: 90%;
    margin-top: 0px;
  }
  #main-showcase #showcase > div {
    height: 410px;
    width: 530px;
  }
  #main-showcase #showcase > div:hover > div {
    top: 80%;
  }
  #main-feedback #feedback-title {
    padding-top: 50px;
  }
  #main-feedback #feedback-title > h2 {
    font-size: 40px;
    text-align: center;
  }
  #main-feedback #feedback-card {
    width: 445px;
    height: 540px;
    margin: 0 auto;
    margin-top: 70px;
  }
  #main-team #team-title {
    width: 100%;
  }
  #main-team #team-title > h2 {
    font-size: 40px;
    text-align: center;
  }
  #main-team #team-cards {
    width: 100%;
  }
  #main-team #team-cards > div {
    margin-bottom: 20px;
  }
  #main-blog #blog-title {
    width: 100%;
  }
  #main-blog #blog-title > h2 {
    font-size: 40px;
    text-align: center;
  }
  #main-blog #blog-cards {
    width: 100%;
  }
  #main-blog #blog-cards > div {
    margin-bottom: 20px;
  }
  footer #footer-title > a {
    font-size: 50px;
  }
  footer #footer-content > div {
    margin-bottom: 20px;
  }
  footer #footer-content > div:nth-of-type(2) {
    justify-content: start;
  }
  footer #footer-content > div:nth-of-type(2), footer #footer-content > div:nth-of-type(3) {
    padding-left: 0px;
  }
  #burger-menu {
    width: 100%;
    right: -100%;
  }
}
@media screen and (min-width: 576px) {
  #headerNav {
    padding-top: 0px;
  }
  #headerNav > nav {
    width: 100%;
    border-radius: 0px;
  }
  #headerContent {
    width: 95%;
  }
  #header-content-title {
    padding: 0px 0;
  }
  #header-content-title > div:nth-of-type(1) {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header-content-title > div:nth-of-type(1) > h1 {
    font-size: 20px;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 40px;
    text-align: center;
  }
  #header-content-title > div:nth-of-type(1) > div > img {
    width: 50px;
  }
  #header-content-title > div:nth-of-type(2) {
    padding-block: 50px;
  }
  #header-content-title > div:nth-of-type(2) > figure {
    justify-content: center;
  }
  #header-content-title > div:nth-of-type(2) > figure > span {
    right: 10%;
  }
  #header-content-banner {
    width: 100%;
  }
  #header-content-banner > figure > img:nth-of-type(1) {
    width: 100%;
  }
  #header-content-banner > figure > img:nth-of-type(2) {
    top: -43px;
    left: -30px;
  }
  #header-content-banner > span > img {
    width: 120px;
  }
  #header-content-banner > span > div > span {
    width: 30px;
    height: 30px;
  }
  #header-content-banner > span > div > span > i {
    font-size: 25px;
  }
  #header-content-banner > span > div > p {
    font-size: 16px;
  }
  main {
    padding-top: 80px;
  }
  #creativity {
    width: 100%;
  }
  #creativity #creativity-img > figure {
    display: flex;
    justify-content: center;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 400px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 400px;
    left: 25%;
  }
  #creativity #creativity-content {
    padding-left: 20px;
    margin-top: 50px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #creativity #creativity-content > div {
    width: 465px;
  }
  #main-services #services-title {
    width: 100%;
  }
  #main-services #services-title > h3 {
    font-size: 30px;
    text-align: center;
  }
  #main-services #services-content {
    width: 95%;
  }
  #main-services #services-content > section {
    padding: 20px;
  }
  #main-showcase #showcase-title {
    width: 100%;
  }
  #main-showcase #showcase-title > div {
    padding-top: 50px;
    text-align: center;
  }
  #main-showcase #showcase-title > div > p {
    justify-content: center;
  }
  #main-showcase #showcase-title #showcase-btns {
    justify-content: center;
  }
  #main-showcase #showcase {
    width: 90%;
    margin-top: 0px;
  }
  #main-showcase #showcase > div {
    height: 410px;
    width: 530px;
    margin: 0 auto;
  }
  #main-showcase #showcase > div:hover > div {
    top: 80%;
  }
  #main-feedback #feedback-title {
    padding-top: 50px;
  }
  #main-feedback #feedback-title > h2 {
    font-size: 40px;
    text-align: center;
  }
  #main-feedback #feedback-card {
    width: 445px;
    height: 540px;
    margin: 0 auto;
    margin-top: 70px;
  }
  #main-team #team-title {
    width: 100%;
  }
  #main-team #team-title > h2 {
    font-size: 40px;
    text-align: center;
  }
  #main-team #team-cards {
    width: 100%;
  }
  #main-team #team-cards > div {
    margin-bottom: 20px;
  }
  #main-blog #blog-title {
    width: 100%;
  }
  #main-blog #blog-title > h2 {
    font-size: 40px;
    text-align: center;
  }
  #main-blog #blog-cards {
    width: 100%;
  }
  #main-blog #blog-cards > div {
    margin-bottom: 20px;
  }
  footer #footer-title > a {
    font-size: 50px;
  }
  footer #footer-content > div {
    margin-bottom: 20px;
  }
  footer #footer-content > div:nth-of-type(2) {
    justify-content: start;
  }
  footer #footer-content > div:nth-of-type(2), footer #footer-content > div:nth-of-type(3) {
    padding-left: 0px;
  }
  #burger-menu {
    width: 100%;
    right: -100%;
  }
}
@media screen and (min-width: 768px) {
  main {
    padding-top: 80px;
  }
  #creativity {
    width: 100%;
  }
  #creativity #creativity-img > figure {
    display: flex;
    justify-content: center;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 500px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 500px;
    left: 15%;
  }
  #creativity #creativity-content {
    padding-left: 50px;
    margin-top: 50px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #creativity #creativity-content > div {
    width: 565px;
  }
  #main-services #services-title {
    width: 100%;
  }
  #main-services #services-title > h3 {
    font-size: 30px;
  }
  #main-services #services-content {
    width: 95%;
  }
  #main-services #services-content > section {
    padding: 20px;
  }
  #main-feedback #feedback-title {
    padding-top: 50px;
  }
  #main-feedback #feedback-title > h2 {
    font-size: 48px;
    text-align: center;
  }
  #main-feedback #feedback-card {
    width: 745px;
    height: 340px;
  }
}
@media screen and (min-width: 992px) {
  main {
    padding-top: 80px;
  }
  #creativity {
    width: 100%;
  }
  #creativity #creativity-img > figure {
    display: flex;
    justify-content: center;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 650px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 650px;
    left: 20%;
  }
  #creativity #creativity-content {
    padding-left: 50px;
    margin-top: 50px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #main-services #services-title {
    width: 100%;
  }
  #main-services #services-title > h3 {
    font-size: 48px;
  }
  #main-services #services-content {
    width: 95%;
  }
  #main-services #services-content > section {
    padding: 50px;
  }
  #main-showcase #showcase-title {
    width: 100%;
  }
  #main-showcase #showcase-title > div {
    padding-top: 50px;
    text-align: center;
  }
  #main-showcase #showcase-title > div > p {
    justify-content: center;
  }
  #main-showcase #showcase-title #showcase-btns {
    justify-content: center;
  }
  #main-showcase #showcase {
    width: 90%;
    margin-top: 0px;
  }
  #main-showcase #showcase > div {
    height: 510px;
    width: 630px;
    margin: 0 auto;
  }
  #main-showcase #showcase > div:hover > div {
    top: 85%;
  }
  #main-team #team-title {
    width: 68%;
  }
  #main-team #team-title > h2 {
    font-size: 48px;
    text-align: center;
  }
  #main-team #team-cards {
    width: 100%;
  }
  #main-team #team-cards > div {
    margin-bottom: 20px;
  }
  #main-blog #blog-title {
    width: 68%;
  }
  #main-blog #blog-title > h2 {
    font-size: 48px;
  }
  #main-blog #blog-cards {
    width: 100%;
  }
  footer #footer-title > a {
    font-size: 70px;
  }
  footer #footer-content > div {
    margin-bottom: 20px;
  }
  footer #footer-content > div:nth-of-type(2) {
    justify-content: center;
  }
  footer #footer-content > div:nth-of-type(2), footer #footer-content > div:nth-of-type(3) {
    padding-left: 0px;
  }
  #burger-menu {
    width: 50%;
    right: -50%;
  }
}
@media screen and (min-width: 1200px) {
  #headerNav {
    padding-top: 15px;
  }
  #headerNav > nav {
    width: 90%;
    border-radius: 15px;
  }
  #headerContent {
    width: 90%;
  }
  #header-content-title {
    padding: 20px 0;
  }
  #header-content-title > div:nth-of-type(1) {
    align-items: start;
  }
  #header-content-title > div:nth-of-type(1) > h1 {
    font-size: 22px;
    text-align: start;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 60px;
  }
  #header-content-title > div:nth-of-type(1) > div > img {
    width: 60px;
  }
  #header-content-title > div:nth-of-type(2) {
    padding-block: 10px;
  }
  #header-content-title > div:nth-of-type(2) > figure {
    justify-content: end;
  }
  #header-content-title > div:nth-of-type(2) > figure > span {
    right: -10%;
  }
  #header-content-banner > span {
    right: 313px;
  }
  main {
    padding-top: 150px;
  }
  #creativity {
    width: 90%;
  }
  #creativity #creativity-img > figure {
    display: inline-block;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 550px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 550px;
    left: -25px;
  }
  #creativity #creativity-content {
    padding-left: 50px;
    margin-top: 0px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #creativity #creativity-content > div {
    width: 565px;
  }
  #main-services #services-content {
    width: 90%;
  }
  #main-showcase #showcase-title {
    width: 90%;
  }
  #main-showcase #showcase-title > div {
    text-align: start;
  }
  #main-showcase #showcase-title > div > p {
    justify-content: start;
  }
  #main-showcase #showcase-title #showcase-btns {
    justify-content: end;
  }
  #main-showcase #showcase {
    width: 90%;
    margin-top: 50px;
  }
  #main-showcase #showcase > div {
    height: 410px;
    width: 530px;
  }
  #main-showcase #showcase > div:hover > div {
    top: 80%;
  }
  #main-feedback #feedback-title {
    padding-top: 100px;
  }
  #main-team #team-cards {
    width: 100%;
  }
  #main-team #team-cards > div {
    margin-bottom: 20px;
  }
  #main-blog #blog-cards {
    width: 100%;
  }
  #burger-menu {
    width: 40%;
    right: -40%;
  }
}
@media screen and (min-width: 1400px) {
  #headerNav > nav {
    width: 80%;
  }
  #headerContent {
    width: 80%;
  }
  #header-content-title {
    padding: 50px 0;
  }
  #header-content-title > div:nth-of-type(1) > h1 {
    font-size: 24px;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 70px;
  }
  #header-content-title > div:nth-of-type(2) {
    padding-block: 0px;
  }
  #header-content-banner > span {
    right: 13px;
  }
  #header-content-banner > span > img {
    width: 190px;
  }
  #header-content-banner > span > div > span {
    width: 50px;
    height: 50px;
  }
  #header-content-banner > span > div > span > i {
    font-size: 45px;
  }
  #header-content-banner > span > div > p {
    font-size: 20px;
  }
  #creativity {
    width: 80%;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 600px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 600px;
  }
  #creativity #creativity-content {
    padding-left: 80px;
  }
  #creativity #creativity-content > h2 {
    font-size: 48px;
  }
  #creativity #creativity-content > p {
    padding-right: 0px;
  }
  #main-services #services-content {
    width: 80%;
  }
  #main-showcase #showcase-title {
    width: 80%;
  }
  #main-showcase #showcase {
    width: 95%;
  }
  #main-showcase #showcase > div {
    height: 510px;
    width: 630px;
  }
  #main-showcase #showcase > div:hover > div {
    top: 85%;
  }
  #main-team #team-cards {
    width: 100%;
  }
  #main-blog #blog-cards {
    width: 100%;
  }
  footer #footer-title > a {
    font-size: 120px;
  }
  footer #footer-content {
    width: 90%;
  }
  footer #footer-content > div:nth-of-type(2), footer #footer-content > div:nth-of-type(3) {
    padding-left: 20px;
  }
  #burger-menu {
    width: 30%;
    right: -30%;
  }
}
@media screen and (min-width: 1600px) {
  #headerNav > nav {
    width: 68%;
  }
  #headerContent {
    width: 68%;
  }
  #header-content-title {
    padding: 80px 0;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 80px;
  }
  #creativity {
    width: 68%;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 650px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 650px;
  }
  #main-services #services-content {
    width: 68%;
  }
  #main-showcase #showcase-title {
    width: 68%;
  }
  #main-showcase #showcase {
    width: 75%;
  }
  #main-team #team-cards {
    width: 75%;
  }
  #main-blog #blog-cards {
    width: 75%;
  }
  footer #footer-title {
    width: 75%;
  }
  footer #footer-title > a {
    font-size: 180px;
  }
  footer #footer-content {
    width: 68%;
  }
  #burger-menu {
    width: 25%;
    right: -25%;
  }
}
@media screen and (min-width: 1800px) {
  #main-team #team-cards {
    width: 68%;
  }
  #main-blog #blog-cards {
    width: 68%;
  }
}/*# sourceMappingURL=local.css.map */