//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width:576px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        padding-top: 0px;

        >nav {
            width: 100%;
            border-radius: 0px;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 95%;
    }

    #header-content-title {
        padding: 0px 0;

        >div {

            &:nth-of-type(1) {
                padding-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                >h1 {
                    font-size: 20px;
                    text-align: center;
                }

                >div {
                    font-size: 40px;
                    text-align: center;

                    >img {
                        width: 50px;
                    }
                }
            }

            &:nth-of-type(2) {
                padding-block: 50px;

                >figure {
                    justify-content: center;

                    >span {
                        right: 10%;
                    }
                }
            }
        }
    }

    #header-content-banner {
        width: 100%;

        >figure {

            >img {
                &:nth-of-type(1) {
                    width: 100%;
                }

                &:nth-of-type(2) {
                    top: -43px;
                    left: -30px;
                }
            }
        }

        >span {
            >img {
                width: 120px;
            }

            >div {
                >span {
                    width: 30px;
                    height: 30px;

                    >i {
                        font-size: 25px;
                    }
                }

                >p {
                    font-size: 16px;
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:576px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        padding-top: 0px;

        >nav {
            width: 100%;
            border-radius: 0px;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 95%;
    }

    #header-content-title {
        padding: 0px 0;

        >div {

            &:nth-of-type(1) {
                padding-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                >h1 {
                    font-size: 20px;
                }

                >div {
                    font-size: 40px;
                    text-align: center;
                    >img {
                        width: 50px;
                    }
                }
            }

            &:nth-of-type(2) {
                padding-block: 50px;

                >figure {
                    justify-content: center;

                    >span {
                        right: 10%;
                    }
                }
            }
        }
    }

    #header-content-banner {
        width: 100%;

        >figure {

            >img {
                &:nth-of-type(1) {
                    width: 100%;
                }

                &:nth-of-type(2) {
                    top: -43px;
                    left: -30px;
                }
            }
        }

        >span {
            >img {
                width: 120px;
            }

            >div {
                >span {
                    width: 30px;
                    height: 30px;

                    >i {
                        font-size: 25px;
                    }
                }

                >p {
                    font-size: 16px;
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:768px) {}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:992px) {}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1200px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        padding-top: 15px;

        >nav {
            width: 90%;
            border-radius: 15px;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 90%;
    }

    #header-content-title {
        padding: 20px 0;

        >div {
            &:nth-of-type(1) {
                >h1 {
                    font-size: 22px;
                }

                >div {
                    font-size: 60px;

                    >img {
                        width: 60px;
                    }
                }
            }

            &:nth-of-type(2) {
                padding-block: 10px;

                >figure {
                    justify-content: end;

                    >span {
                        right: -10%;
                    }
                }
            }
        }
    }

    #header-content-banner {

        >span {
            right: 313px;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1400px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        >nav {
            width: 80%;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 80%;
    }

    #header-content-title {
        padding: 50px 0;

        >div {
            &:nth-of-type(1) {
                >h1 {
                    font-size: 24px;
                }

                >div {
                    font-size: 70px;
                }
            }

            &:nth-of-type(2) {
                padding-block: 0px;
            }
        }
    }

    #header-content-banner {

        >span {
            right: 13px;

            >img {
                width: 190px;
            }

            >div {
                >span {
                    width: 50px;
                    height: 50px;

                    >i {
                        font-size: 45px;
                    }
                }

                >p {
                    font-size: 20px;
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1600px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        >nav {
            width: 68%;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 68%;
    }

    #header-content-title {
        padding: 80px 0;

        >div {
            &:nth-of-type(1) {
                >div {
                    font-size: 80px;
                }
            }
        }
    }
}