@media screen and (max-width: 576px) {
  #headerNav {
    padding-top: 0px;
  }
  #headerNav > nav {
    width: 100%;
    border-radius: 0px;
  }
  #headerContent {
    width: 95%;
  }
  #header-content-title {
    padding: 0px 0;
  }
  #header-content-title > div:nth-of-type(1) {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header-content-title > div:nth-of-type(1) > h1 {
    font-size: 20px;
    text-align: center;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 40px;
    text-align: center;
  }
  #header-content-title > div:nth-of-type(1) > div > img {
    width: 50px;
  }
  #header-content-title > div:nth-of-type(2) {
    padding-block: 50px;
  }
  #header-content-title > div:nth-of-type(2) > figure {
    justify-content: center;
  }
  #header-content-title > div:nth-of-type(2) > figure > span {
    right: 10%;
  }
  #header-content-banner {
    width: 100%;
  }
  #header-content-banner > figure > img:nth-of-type(1) {
    width: 100%;
  }
  #header-content-banner > figure > img:nth-of-type(2) {
    top: -43px;
    left: -30px;
  }
  #header-content-banner > span > img {
    width: 120px;
  }
  #header-content-banner > span > div > span {
    width: 30px;
    height: 30px;
  }
  #header-content-banner > span > div > span > i {
    font-size: 25px;
  }
  #header-content-banner > span > div > p {
    font-size: 16px;
  }
  main {
    padding-top: 80px;
  }
  #creativity {
    width: 100%;
  }
  #creativity #creativity-img > figure {
    display: flex;
    justify-content: center;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 400px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 400px;
    left: 25px;
  }
  #creativity #creativity-content {
    padding-left: 20px;
    margin-top: 50px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #creativity #creativity-content > div {
    width: 400px;
  }
  #main-services #services-title {
    width: 100%;
  }
  #main-services #services-title > h3 {
    font-size: 30px;
    text-align: center;
  }
  #main-services #services-content {
    width: 95%;
  }
  #main-services #services-content > section {
    padding: 20px;
  }
}
@media screen and (min-width: 576px) {
  #headerNav {
    padding-top: 0px;
  }
  #headerNav > nav {
    width: 100%;
    border-radius: 0px;
  }
  #headerContent {
    width: 95%;
  }
  #header-content-title {
    padding: 0px 0;
  }
  #header-content-title > div:nth-of-type(1) {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #header-content-title > div:nth-of-type(1) > h1 {
    font-size: 20px;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 40px;
    text-align: center;
  }
  #header-content-title > div:nth-of-type(1) > div > img {
    width: 50px;
  }
  #header-content-title > div:nth-of-type(2) {
    padding-block: 50px;
  }
  #header-content-title > div:nth-of-type(2) > figure {
    justify-content: center;
  }
  #header-content-title > div:nth-of-type(2) > figure > span {
    right: 10%;
  }
  #header-content-banner {
    width: 100%;
  }
  #header-content-banner > figure > img:nth-of-type(1) {
    width: 100%;
  }
  #header-content-banner > figure > img:nth-of-type(2) {
    top: -43px;
    left: -30px;
  }
  #header-content-banner > span > img {
    width: 120px;
  }
  #header-content-banner > span > div > span {
    width: 30px;
    height: 30px;
  }
  #header-content-banner > span > div > span > i {
    font-size: 25px;
  }
  #header-content-banner > span > div > p {
    font-size: 16px;
  }
  main {
    padding-top: 80px;
  }
  #creativity {
    width: 100%;
  }
  #creativity #creativity-img > figure {
    display: flex;
    justify-content: center;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 400px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 400px;
    left: 25%;
  }
  #creativity #creativity-content {
    padding-left: 20px;
    margin-top: 50px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #creativity #creativity-content > div {
    width: 465px;
  }
  #main-services #services-title {
    width: 100%;
  }
  #main-services #services-title > h3 {
    font-size: 30px;
    text-align: center;
  }
  #main-services #services-content {
    width: 95%;
  }
  #main-services #services-content > section {
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  main {
    padding-top: 80px;
  }
  #creativity {
    width: 100%;
  }
  #creativity #creativity-img > figure {
    display: flex;
    justify-content: center;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 500px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 500px;
    left: 15%;
  }
  #creativity #creativity-content {
    padding-left: 50px;
    margin-top: 50px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #creativity #creativity-content > div {
    width: 565px;
  }
  #main-services #services-title {
    width: 100%;
  }
  #main-services #services-title > h3 {
    font-size: 30px;
  }
  #main-services #services-content {
    width: 95%;
  }
  #main-services #services-content > section {
    padding: 20px;
  }
}
@media screen and (min-width: 992px) {
  main {
    padding-top: 80px;
  }
  #creativity {
    width: 100%;
  }
  #creativity #creativity-img > figure {
    display: flex;
    justify-content: center;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 650px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 650px;
    left: 20%;
  }
  #creativity #creativity-content {
    padding-left: 50px;
    margin-top: 50px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #main-services #services-title {
    width: 100%;
  }
  #main-services #services-title > h3 {
    font-size: 48px;
  }
  #main-services #services-content {
    width: 95%;
  }
  #main-services #services-content > section {
    padding: 50px;
  }
}
@media screen and (min-width: 1200px) {
  #headerNav {
    padding-top: 15px;
  }
  #headerNav > nav {
    width: 90%;
    border-radius: 15px;
  }
  #headerContent {
    width: 90%;
  }
  #header-content-title {
    padding: 20px 0;
  }
  #header-content-title > div:nth-of-type(1) > h1 {
    font-size: 22px;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 60px;
  }
  #header-content-title > div:nth-of-type(1) > div > img {
    width: 60px;
  }
  #header-content-title > div:nth-of-type(2) {
    padding-block: 10px;
  }
  #header-content-title > div:nth-of-type(2) > figure {
    justify-content: end;
  }
  #header-content-title > div:nth-of-type(2) > figure > span {
    right: -10%;
  }
  #header-content-banner > span {
    right: 313px;
  }
  main {
    padding-top: 150px;
  }
  #creativity {
    width: 90%;
  }
  #creativity #creativity-img > figure {
    display: inline-block;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 550px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 550px;
    left: -25px;
  }
  #creativity #creativity-content {
    padding-left: 50px;
    margin-top: 0px;
  }
  #creativity #creativity-content > h2 {
    font-size: 35px;
  }
  #creativity #creativity-content > p {
    padding-right: 20px;
  }
  #creativity #creativity-content > div {
    width: 565px;
  }
  #main-services #services-content {
    width: 90%;
  }
}
@media screen and (min-width: 1400px) {
  #headerNav > nav {
    width: 80%;
  }
  #headerContent {
    width: 80%;
  }
  #header-content-title {
    padding: 50px 0;
  }
  #header-content-title > div:nth-of-type(1) > h1 {
    font-size: 24px;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 70px;
  }
  #header-content-title > div:nth-of-type(2) {
    padding-block: 0px;
  }
  #header-content-banner > span {
    right: 13px;
  }
  #header-content-banner > span > img {
    width: 190px;
  }
  #header-content-banner > span > div > span {
    width: 50px;
    height: 50px;
  }
  #header-content-banner > span > div > span > i {
    font-size: 45px;
  }
  #header-content-banner > span > div > p {
    font-size: 20px;
  }
  #creativity {
    width: 80%;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 600px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 600px;
  }
  #creativity #creativity-content {
    padding-left: 80px;
  }
  #creativity #creativity-content > h2 {
    font-size: 48px;
  }
  #creativity #creativity-content > p {
    padding-right: 0px;
  }
  #main-services #services-content {
    width: 80%;
  }
}
@media screen and (min-width: 1600px) {
  #headerNav > nav {
    width: 68%;
  }
  #headerContent {
    width: 68%;
  }
  #header-content-title {
    padding: 80px 0;
  }
  #header-content-title > div:nth-of-type(1) > div {
    font-size: 80px;
  }
  #creativity {
    width: 68%;
  }
  #creativity #creativity-img > figure > img:nth-of-type(1) {
    width: 650px;
  }
  #creativity #creativity-img > figure > img:nth-of-type(2) {
    width: 650px;
  }
  #main-services #services-content {
    width: 68%;
  }
}/*# sourceMappingURL=local.css.map */