//  //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (max-width:576px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        padding-top: 0px;

        >nav {
            width: 100%;
            border-radius: 0px;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 95%;
    }

    #header-content-title {
        padding: 0px 0;

        >div {

            &:nth-of-type(1) {
                padding-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                >h1 {
                    font-size: 20px;
                    text-align: center;
                }

                >div {
                    font-size: 40px;
                    text-align: center;

                    >img {
                        width: 50px;
                    }
                }
            }

            &:nth-of-type(2) {
                padding-block: 50px;

                >figure {
                    justify-content: center;

                    >span {
                        right: 10%;
                    }
                }
            }
        }
    }

    #header-content-banner {
        width: 100%;

        >figure {

            >img {
                &:nth-of-type(1) {
                    width: 100%;
                }

                &:nth-of-type(2) {
                    top: -43px;
                    left: -30px;
                }
            }
        }

        >span {
            >img {
                width: 120px;
            }

            >div {
                >span {
                    width: 30px;
                    height: 30px;

                    >i {
                        font-size: 25px;
                    }
                }

                >p {
                    font-size: 16px;
                }
            }
        }
    }

    // ---------------------------------main---------------------------------
    main {
        padding-top: 80px;
    }

    //  ---------------------creativity-------------------- 

    #creativity {
        width: 100%;

        #creativity-img {
            >figure {
                display: flex;
                justify-content: center;

                >img {

                    &:nth-of-type(1) {
                        width: 400px;
                    }

                    &:nth-of-type(2) {
                        width: 400px;
                        left: 25px;
                    }
                }
            }
        }

        #creativity-content {
            padding-left: 20px;
            margin-top: 50px;

            >h2 {
                font-size: 35px;
            }

            >p {
                padding-right: 20px;
            }

            >div {
                width: 400px;
            }
        }
    }

    //  ---------------------main services-------------------- 
    #main-services {
        #services-title {
            width: 100%;

            >h3 {
                font-size: 30px;
                text-align: center;
            }
        }

        #services-content {
            width: 95%;

            >section {
                padding: 20px;
            }
        }
    }

    //  ---------------------main showcase-------------------- 
    #main-showcase {
        #showcase-title {
            width: 100%;

            >div {
                padding-top: 50px;
                text-align: center;

                >p {
                    justify-content: center;
                }
            }

            #showcase-btns {
                justify-content: center;
            }
        }

        #showcase {
            width: 90%;
            margin-top: 0px;

            >div {
                height: 410px;
                width: 530px;

                &:hover {
                    >div {
                        top: 80%;
                    }
                }
            }
        }
    }

    //  ---------------------main feedback-------------------- 
    #main-feedback {
        #feedback-title {
            padding-top: 50px;

            >h2 {
                font-size: 40px;
                text-align: center;
            }
        }

        #feedback-card {
            width: 445px;
            height: 540px;
            margin: 0 auto;
            margin-top: 70px;

        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:576px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        padding-top: 0px;

        >nav {
            width: 100%;
            border-radius: 0px;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 95%;
    }

    #header-content-title {
        padding: 0px 0;

        >div {

            &:nth-of-type(1) {
                padding-top: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                >h1 {
                    font-size: 20px;
                }

                >div {
                    font-size: 40px;
                    text-align: center;

                    >img {
                        width: 50px;
                    }
                }
            }

            &:nth-of-type(2) {
                padding-block: 50px;

                >figure {
                    justify-content: center;

                    >span {
                        right: 10%;
                    }
                }
            }
        }
    }

    #header-content-banner {
        width: 100%;

        >figure {

            >img {
                &:nth-of-type(1) {
                    width: 100%;
                }

                &:nth-of-type(2) {
                    top: -43px;
                    left: -30px;
                }
            }
        }

        >span {
            >img {
                width: 120px;
            }

            >div {
                >span {
                    width: 30px;
                    height: 30px;

                    >i {
                        font-size: 25px;
                    }
                }

                >p {
                    font-size: 16px;
                }
            }
        }
    }

    // ---------------------------------main---------------------------------
    main {
        padding-top: 80px;
    }

    //  ---------------------creativity-------------------- 

    #creativity {
        width: 100%;

        #creativity-img {
            >figure {
                display: flex;
                justify-content: center;

                >img {

                    &:nth-of-type(1) {
                        width: 400px;
                    }

                    &:nth-of-type(2) {
                        width: 400px;
                        left: 25%;
                    }
                }
            }
        }

        #creativity-content {
            padding-left: 20px;
            margin-top: 50px;

            >h2 {
                font-size: 35px;
            }

            >p {
                padding-right: 20px;
            }

            >div {
                width: 465px;
            }
        }
    }

    //  ---------------------main services-------------------- 
    #main-services {
        #services-title {
            width: 100%;

            >h3 {
                font-size: 30px;
                text-align: center;
            }
        }

        #services-content {
            width: 95%;

            >section {
                padding: 20px;
            }
        }
    }

    //  ---------------------main showcase-------------------- 
    #main-showcase {
        #showcase-title {
            width: 100%;

            >div {
                padding-top: 50px;
                text-align: center;

                >p {
                    justify-content: center;
                }
            }

            #showcase-btns {
                justify-content: center;
            }
        }

        #showcase {
            width: 90%;
            margin-top: 0px;

            >div {
                height: 410px;
                width: 530px;
                margin: 0 auto;

                &:hover {
                    >div {
                        top: 80%;
                    }
                }
            }
        }
    }

    //  ---------------------main feedback-------------------- 
    #main-feedback {
        #feedback-title {
            padding-top: 50px;

            >h2 {
                font-size: 40px;
                text-align: center;
            }
        }

        #feedback-card {
            width: 445px;
            height: 540px;
            margin: 0 auto;
            margin-top: 70px;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:768px) {

    // ---------------------------------main---------------------------------
    main {
        padding-top: 80px;
    }

    //  ---------------------creativity-------------------- 

    #creativity {
        width: 100%;

        #creativity-img {
            >figure {
                display: flex;
                justify-content: center;

                >img {

                    &:nth-of-type(1) {
                        width: 500px;
                    }

                    &:nth-of-type(2) {
                        width: 500px;
                        left: 15%;
                    }
                }
            }
        }

        #creativity-content {
            padding-left: 50px;
            margin-top: 50px;

            >h2 {
                font-size: 35px;
            }

            >p {
                padding-right: 20px;
            }

            >div {
                width: 565px;
            }
        }
    }

    //  ---------------------main services-------------------- 
    #main-services {
        #services-title {
            width: 100%;

            >h3 {
                font-size: 30px;
            }
        }

        #services-content {
            width: 95%;

            >section {
                padding: 20px;
            }
        }
    }

    //  ---------------------main feedback-------------------- 
    #main-feedback {
        #feedback-title {
            padding-top: 50px;

            >h2 {
                font-size: 48px;
                text-align: center;
            }
        }

        #feedback-card {
            width: 745px;
            height: 340px;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:992px) {

    // ---------------------------------main---------------------------------
    main {
        padding-top: 80px;
    }

    //  ---------------------creativity-------------------- 

    #creativity {
        width: 100%;

        #creativity-img {
            >figure {
                display: flex;
                justify-content: center;

                >img {

                    &:nth-of-type(1) {
                        width: 650px;
                    }

                    &:nth-of-type(2) {
                        width: 650px;
                        left: 20%;
                    }
                }
            }
        }

        #creativity-content {
            padding-left: 50px;
            margin-top: 50px;

            >h2 {
                font-size: 35px;
            }

            >p {
                padding-right: 20px;
            }
        }
    }

    //  ---------------------main services-------------------- 
    #main-services {
        #services-title {
            width: 100%;

            >h3 {
                font-size: 48px;
            }
        }

        #services-content {
            width: 95%;

            >section {
                padding: 50px;
            }
        }
    }

    //  ---------------------main showcase-------------------- 
    #main-showcase {
        #showcase-title {
            width: 100%;

            >div {
                padding-top: 50px;
                text-align: center;

                >p {
                    justify-content: center;
                }
            }

            #showcase-btns {
                justify-content: center;
            }
        }

        #showcase {
            width: 90%;
            margin-top: 0px;

            >div {
                height: 510px;
                width: 630px;
                margin: 0 auto;

                &:hover {
                    >div {
                        top: 85%;
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1200px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        padding-top: 15px;

        >nav {
            width: 90%;
            border-radius: 15px;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 90%;
    }

    #header-content-title {
        padding: 20px 0;

        >div {
            &:nth-of-type(1) {
                >h1 {
                    font-size: 22px;
                }

                >div {
                    font-size: 60px;

                    >img {
                        width: 60px;
                    }
                }
            }

            &:nth-of-type(2) {
                padding-block: 10px;

                >figure {
                    justify-content: end;

                    >span {
                        right: -10%;
                    }
                }
            }
        }
    }

    #header-content-banner {

        >span {
            right: 313px;
        }
    }

    // ---------------------------------main---------------------------------
    main {
        padding-top: 150px;
    }

    //  ---------------------creativity-------------------- 

    #creativity {
        width: 90%;

        #creativity-img {
            >figure {
                display: inline-block;

                >img {

                    &:nth-of-type(1) {
                        width: 550px;
                    }

                    &:nth-of-type(2) {
                        width: 550px;
                        left: -25px;
                    }
                }
            }
        }

        #creativity-content {
            padding-left: 50px;
            margin-top: 0px;

            >h2 {
                font-size: 35px;
            }

            >p {
                padding-right: 20px;
            }

            >div {
                width: 565px;
            }
        }
    }

    //  ---------------------main services-------------------- 
    #main-services {
        #services-content {
            width: 90%;

        }
    }

    //  ---------------------main showcase-------------------- 
    #main-showcase {
        #showcase-title {
            width: 90%;

            >div {
                text-align: start;

                >p {
                    justify-content: start;
                }
            }

            #showcase-btns {
                justify-content: end;
            }
        }

        #showcase {
            width: 90%;
            margin-top: 50px;

            >div {
                height: 410px;
                width: 530px;

                &:hover {
                    >div {
                        top: 80%;
                    }
                }
            }
        }
    }

    //  ---------------------main feedback-------------------- 
    #main-feedback {
        #feedback-title {
            padding-top: 100px;

        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1400px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        >nav {
            width: 80%;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 80%;
    }

    #header-content-title {
        padding: 50px 0;

        >div {
            &:nth-of-type(1) {
                >h1 {
                    font-size: 24px;
                }

                >div {
                    font-size: 70px;
                }
            }

            &:nth-of-type(2) {
                padding-block: 0px;
            }
        }
    }

    #header-content-banner {

        >span {
            right: 13px;

            >img {
                width: 190px;
            }

            >div {
                >span {
                    width: 50px;
                    height: 50px;

                    >i {
                        font-size: 45px;
                    }
                }

                >p {
                    font-size: 20px;
                }
            }
        }
    }

    // ---------------------------------main---------------------------------
    //  ---------------------creativity-------------------- 

    #creativity {
        width: 80%;

        #creativity-img {
            >figure {
                >img {

                    &:nth-of-type(1) {
                        width: 600px;
                    }

                    &:nth-of-type(2) {
                        width: 600px;
                    }
                }
            }
        }

        #creativity-content {
            padding-left: 80px;

            >h2 {
                font-size: 48px;
            }

            >p {
                padding-right: 0px;
            }
        }
    }

    //  ---------------------main services-------------------- 
    #main-services {
        #services-content {
            width: 80%;

        }
    }

    //  ---------------------main showcase-------------------- 
    #main-showcase {
        #showcase-title {
            width: 80%;

        }

        #showcase {
            width: 95%;

            >div {
                height: 510px;
                width: 630px;

                &:hover {
                    >div {
                        top: 85%;
                    }
                }
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// 
@media screen and (min-width:1600px) {

    // ---------------------------------header---------------------------------
    //  ---------------------header navbar-------------------- 
    #headerNav {
        >nav {
            width: 68%;
        }
    }

    //  ---------------------header content-------------------- 
    #headerContent {
        width: 68%;
    }

    #header-content-title {
        padding: 80px 0;

        >div {
            &:nth-of-type(1) {
                >div {
                    font-size: 80px;
                }
            }
        }
    }

    // ---------------------------------main---------------------------------
    //  ---------------------creativity-------------------- 

    #creativity {
        width: 68%;

        #creativity-img {
            >figure {
                >img {

                    &:nth-of-type(1) {
                        width: 650px;
                    }

                    &:nth-of-type(2) {
                        width: 650px;
                    }
                }
            }
        }
    }

    //  ---------------------main services-------------------- 
    #main-services {
        #services-content {
            width: 68%;

        }
    }

    //  ---------------------main showcase-------------------- 
    #main-showcase {
        #showcase-title {
            width: 68%;

        }

        #showcase {
            width: 75%;
        }
    }
}