@keyframes animation1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1000deg);
  }
}
@keyframes animation2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1000deg);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes animation3 {
  0% {
    transform: rotate(45deg) scaleX(0);
    opacity: 0;
  }
  50% {
    transform: rotate(45deg) scaleX(1);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) scaleX(1);
    opacity: 0;
  }
}
@keyframes typing {}
header {
  background-color: #03060a;
  height: auto;
  background-image: url(../img/img04.png);
  background-size: cover;
  background-position: center top;
}

#headerNav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
#headerNav > nav {
  width: 68%;
  height: 85px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  display: flex;
}
#headerNav > nav > div {
  height: 100%;
}
#headerNav > nav #nav-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
#headerNav > nav #nav-logo > a > figure > img {
  width: 120px;
}
#headerNav > nav #nav-menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#headerNav > nav #nav-menu > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  color: white;
  position: relative;
}
#headerNav > nav #nav-menu > ul > li > a {
  font-family: "SpaceGrotesk-Regular";
  text-transform: capitalize;
  font-size: 18px;
}
#headerNav > nav #nav-menu > ul > li > ul {
  position: absolute;
  width: 200px;
  top: 100%;
  background-color: #03060a;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-top: 3px solid #cef12b;
  padding: 15px 15px;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.4s ease-in-out;
}
#headerNav > nav #nav-menu > ul > li > ul > li {
  padding: 10px 0;
  color: white;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Bold";
  font-size: 18px;
  transition: 0.4s ease-in-out;
  position: relative;
}
#headerNav > nav #nav-menu > ul > li > ul > li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #cef12b;
  bottom: 0;
  transition: 0.4s ease-in-out;
}
#headerNav > nav #nav-menu > ul > li > ul > li:hover {
  color: #cef12b;
}
#headerNav > nav #nav-menu > ul > li > ul > li:hover::before {
  width: 70%;
}
#headerNav > nav #nav-menu > ul > li:hover {
  color: #cef12b;
}
#headerNav > nav #nav-menu > ul > li:hover > ul {
  opacity: 1;
  transform: scaleY(1);
}
#headerNav > nav #menu-mobile {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}
#headerNav > nav #menu-mobile > button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 4px;
}
#headerNav > nav #menu-mobile > button > img {
  width: 30px;
}
#headerNav > nav #nav-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#headerNav > nav #nav-btn > a {
  height: 55px;
  width: 230px;
  background-color: #cef12b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease-in-out;
}
#headerNav > nav #nav-btn > a > p {
  font-size: 18px;
  font-family: "SpaceGrotesk-Bold";
  font-weight: 700 !important;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
#headerNav > nav #nav-btn > a > span {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  transform-origin: center;
  opacity: 0;
  transform: scaleX(0);
  transition: inherit;
}
#headerNav > nav #nav-btn > a:hover {
  transform: translateY(-5px);
}
#headerNav > nav #nav-btn > a:hover > span {
  opacity: 1;
  transform: scaleX(1);
}

#headerNav2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: fixed;
  top: -85px;
  left: 0;
  z-index: 50;
  transition: 0.2s ease-in-out;
}
#headerNav2 > nav {
  width: 100%;
  height: 85px;
  background-color: #03060a;
  border: 1px solid rgba(255, 255, 255, 0.144);
  display: flex;
}
#headerNav2 > nav > div {
  height: 100%;
}
#headerNav2 > nav #nav2-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
#headerNav2 > nav #nav2-logo > a > figure > img {
  width: 120px;
}
#headerNav2 > nav #nav2-menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#headerNav2 > nav #nav2-menu > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  color: white;
  position: relative;
}
#headerNav2 > nav #nav2-menu > ul > li > a {
  font-family: "SpaceGrotesk-Regular";
  text-transform: capitalize;
  font-size: 18px;
}
#headerNav2 > nav #nav2-menu > ul > li > ul {
  position: absolute;
  width: 200px;
  top: 100%;
  background-color: #03060a;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-top: 3px solid #cef12b;
  padding: 15px 15px;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.4s ease-in-out;
}
#headerNav2 > nav #nav2-menu > ul > li > ul > li {
  padding: 10px 0;
  color: white;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Bold";
  font-size: 18px;
  transition: 0.4s ease-in-out;
  position: relative;
}
#headerNav2 > nav #nav2-menu > ul > li > ul > li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #cef12b;
  bottom: 0;
  transition: 0.4s ease-in-out;
}
#headerNav2 > nav #nav2-menu > ul > li > ul > li:hover {
  color: #cef12b;
}
#headerNav2 > nav #nav2-menu > ul > li > ul > li:hover::before {
  width: 70%;
}
#headerNav2 > nav #nav2-menu > ul > li:hover {
  color: #cef12b;
}
#headerNav2 > nav #nav2-menu > ul > li:hover > ul {
  opacity: 1;
  transform: scaleY(1);
}
#headerNav2 > nav #menu2-mobile {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
}
#headerNav2 > nav #menu2-mobile > button {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 4px;
}
#headerNav2 > nav #menu2-mobile > button > img {
  width: 30px;
}
#headerNav2 > nav #nav2-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#headerNav2 > nav #nav2-btn > a {
  height: 55px;
  width: 230px;
  background-color: #cef12b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease-in-out;
}
#headerNav2 > nav #nav2-btn > a > p {
  font-size: 18px;
  font-family: "SpaceGrotesk-Bold";
  font-weight: 700 !important;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
#headerNav2 > nav #nav2-btn > a > span {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  transform-origin: center;
  opacity: 0;
  transform: scaleX(0);
  transition: inherit;
}
#headerNav2 > nav #nav2-btn > a:hover {
  transform: translateY(-5px);
}
#headerNav2 > nav #nav2-btn > a:hover > span {
  opacity: 1;
  transform: scaleX(1);
}

#headerContent {
  width: 68%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

#header-content-title {
  width: 100%;
  display: flex;
  padding: 80px 0;
  height: auto;
}
#header-content-title > div {
  height: 100%;
}
#header-content-title > div:nth-of-type(1) {
  padding-top: 50px;
}
#header-content-title > div:nth-of-type(1) > h1 {
  color: white;
  font-size: 24px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#header-content-title > div:nth-of-type(1) > h1 > img {
  width: 25px;
  margin-right: 10px;
}
#header-content-title > div:nth-of-type(1) > div {
  color: white;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  font-size: 80px;
  margin-top: 20px;
}
#header-content-title > div:nth-of-type(1) > div > img {
  animation: animation2 100s linear infinite alternate;
}
#header-content-title > div:nth-of-type(1) > div > figure {
  height: 65px;
  width: 150px;
  border-radius: 110px;
  border: 2px solid #cef12b;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-flex;
}
#header-content-title > div:nth-of-type(1) > div > figure > img {
  width: 115px;
}
#header-content-title > div:nth-of-type(2) > figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
#header-content-title > div:nth-of-type(2) > figure > img {
  width: 75%;
  animation: animation1 150s linear infinite alternate;
}
#header-content-title > div:nth-of-type(2) > figure > span {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
  position: absolute;
  border: 5px solid #03060a;
  top: -5%;
  right: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-content-title > div:nth-of-type(2) > figure > span > img {
  animation: animation2 150s linear infinite alternate;
}
#header-content-title > div:nth-of-type(2) > figure > span > img:nth-of-type(2) {
  animation: none;
  position: absolute;
}

#header-content-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#header-content-banner > figure {
  position: relative;
}
#header-content-banner > figure > img:nth-of-type(2) {
  position: absolute;
  top: -43px;
  left: -30px;
}
#header-content-banner > span {
  position: absolute;
  top: -55px;
  right: 13px;
}
#header-content-banner > span > img {
  width: 190px;
  animation: animation2 100s linear infinite alternate;
}
#header-content-banner > span > div {
  position: absolute;
  color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#header-content-banner > span > div > span {
  width: 50px;
  height: 50px;
  background-color: #03060a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-135deg);
}
#header-content-banner > span > div > span > i {
  font-size: 45px;
  color: #cef12b;
}
#header-content-banner > span > div > p {
  color: #03060a;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Bold";
  margin-top: 5px;
}

#header-marquee {
  width: 100%;
  height: 85px;
  background-color: #cef12b;
}
#header-marquee > div {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: end;
  align-items: center;
  animation: marquee 90s linear infinite;
}
#header-marquee > div > p {
  color: #03060a;
  font-size: 28px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
}
#header-marquee > div > img {
  margin: 0 25px;
}

main {
  width: 100%;
  background-color: #03060a;
  padding-top: 150px;
}

#creativity {
  width: 68%;
  display: flex;
  margin: 0 auto;
}
#creativity #creativity-img {
  height: auto;
}
#creativity #creativity-img > figure {
  width: 100%;
  position: relative;
}
#creativity #creativity-img > figure > img:nth-of-type(1) {
  width: 650px;
}
#creativity #creativity-img > figure > img:nth-of-type(2) {
  width: 650px;
  position: absolute;
  top: -25px;
  left: -35px;
}
#creativity #creativity-img > figure > img:nth-of-type(3) {
  width: 765px;
  height: 200px;
  position: absolute;
  top: -145px;
  left: -35px;
}
#creativity #creativity-content {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#creativity #creativity-content > h3 {
  color: #cef12b;
  font-size: 20px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
#creativity #creativity-content > h3 > img {
  margin-right: 10px;
}
#creativity #creativity-content > h2 {
  font-size: 48px;
  line-height: 64px;
  font-family: "SpaceGrotesk-Bold";
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#creativity #creativity-content > p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 26px;
  font-family: "SpaceGrotesk-Medium";
  margin-bottom: 20px;
}
#creativity #creativity-content > div {
  height: 150px;
  width: 565px;
  border-radius: 10px;
  background-color: #121518;
  margin-bottom: 30px;
  padding: 15px;
}
#creativity #creativity-content > div > div {
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
}
#creativity #creativity-content > div > div > span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#creativity #creativity-content > div > div > span > p {
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "SpaceGrotesk-SemiBold";
}
#creativity #creativity-content > div > div > div {
  width: 100%;
  height: 10px;
  background-color: #2A2C30;
  border-radius: 40px;
  position: relative;
}
#creativity #creativity-content > div > div > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 98%;
  background-color: #cef12b;
  border-radius: 40px;
}
#creativity #creativity-content > div > div:nth-of-type(2) > div::after {
  width: 90%;
}
#creativity #creativity-content > a {
  height: 55px;
  width: 270px;
  background-color: #cef12b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease-in-out;
}
#creativity #creativity-content > a > p {
  font-size: 18px;
  font-family: "SpaceGrotesk-Bold";
  font-weight: 700 !important;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
#creativity #creativity-content > a > span {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  transform-origin: center;
  opacity: 0;
  transform: scaleX(0);
  transition: inherit;
}
#creativity #creativity-content > a:hover {
  transform: translateY(-5px);
}
#creativity #creativity-content > a:hover > span {
  opacity: 1;
  transform: scaleX(1);
}

#main-marquee {
  margin-top: 80px;
  width: 100%;
}
#main-marquee > h4 {
  font-family: "SpaceGrotesk-Bold";
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-marquee > h4 > img {
  margin-right: 5px;
}
#main-marquee > div {
  width: auto;
  padding-block: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  width: -moz-max-content;
  width: max-content;
  animation: marquee 20s linear alternate infinite;
}
#main-marquee > div > div {
  height: 80px;
  border-radius: 120px;
  background-color: #1D1F23;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin-inline: 15px;
  transition: 0.4s ease-in-out;
}
#main-marquee > div > div > figure {
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}
#main-marquee > div > div > figure > img {
  width: 100%;
  border-radius: 50%;
}
#main-marquee > div > div > figure > span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #03060a;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
#main-marquee > div > div > figure > span > i {
  color: #cef12b;
  font-size: 40px;
  transform: rotate(-135deg);
}
#main-marquee > div > div > h3 {
  color: white;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Bold";
  font-size: 24px;
  transition: 0.4s ease-in-out;
}
#main-marquee > div > div:hover {
  background-color: #cef12b;
}
#main-marquee > div > div:hover > h3 {
  color: #03060a;
}
#main-marquee > div > div:hover > figure > span {
  opacity: 1;
}

#main-services {
  width: 100%;
  height: auto;
  background-image: url(../img/img20.png);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
}
#main-services #services-title {
  padding: 100px 0 50px 0;
  width: 68%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-services #services-title > h4 {
  color: #cef12b;
  font-size: 20px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#main-services #services-title > h4 > img {
  margin-right: 5px;
}
#main-services #services-title > h3 {
  font-family: "SpaceGrotesk-Bold";
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 62px;
  margin-top: 15px;
}
#main-services #services-content {
  margin: 0 auto;
  width: 68%;
}
#main-services #services-content > section {
  width: 100%;
  height: 250px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
#main-services #services-content > section > div {
  display: inline;
  height: -moz-max-content;
  height: max-content;
}
#main-services #services-content > section > div > h2 {
  color: white;
  font-size: 44px;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Bold";
  margin-bottom: 10px;
  transition: 0.4s ease-in-out;
}
#main-services #services-content > section > div > ul {
  display: flex;
  margin-bottom: 10px;
}
#main-services #services-content > section > div > ul > li {
  height: 40px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.06);
  padding: 10px 12px;
  color: white;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Medium";
  margin-right: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
#main-services #services-content > section > span {
  background: rgba(255, 255, 255, 0.1);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}
#main-services #services-content > section > span > i {
  font-size: 50px;
  transform: rotate(-135deg);
  color: white;
  margin-top: 5px;
  transition: 0.4s ease-in-out;
}
#main-services #services-content > section > figure {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: 0.4s ease-in-out;
}
#main-services #services-content > section:hover > div > h2 {
  color: #cef12b;
}
#main-services #services-content > section:hover > span {
  background-color: #cef12b;
}
#main-services #services-content > section:hover > span > i {
  color: #03060a;
}
#main-services #services-content > section:hover > figure {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
#main-services > span {
  position: relative;
}
#main-services > span > img {
  width: 190px;
  animation: animation2 100s linear infinite alternate;
}
#main-services > span > div {
  position: absolute;
  color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#main-services > span > div > span {
  width: 50px;
  height: 50px;
  background-color: #03060a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-135deg);
}
#main-services > span > div > span > i {
  font-size: 45px;
  color: #cef12b;
}
#main-services > span > div > p {
  color: #03060a;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Bold";
  margin-top: 5px;
}

#main-showcase {
  width: 100%;
  min-height: 100vh;
}
#main-showcase #showcase-title {
  width: 68%;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
}
#main-showcase #showcase-title > div > p {
  color: #cef12b;
  font-size: 20px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#main-showcase #showcase-title > div > p > img {
  margin-right: 5px;
}
#main-showcase #showcase-title > div > h2 {
  font-family: "SpaceGrotesk-Bold";
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 62px;
  margin-top: 15px;
}
#main-showcase #showcase-title #showcase-btns {
  display: flex;
}
#main-showcase #showcase-title #showcase-btns > span {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #121518;
  transition: 0.4s ease-in-out;
  font-size: 25px;
  border-radius: 50%;
}
#main-showcase #showcase-title #showcase-btns > span:nth-of-type(1) {
  margin-right: 5px;
}
#main-showcase #showcase-title #showcase-btns > span:nth-of-type(2) {
  margin-left: 5px;
}
#main-showcase #showcase-title #showcase-btns > span:hover {
  background-color: #cef12b;
  color: #03060a;
}
#main-showcase #showcase {
  width: 68%;
  padding: 50px 0;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#main-showcase #showcase > div {
  height: 510px;
  width: 630px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}
#main-showcase #showcase > div > img {
  width: 100%;
  transition: 0.4s ease-in-out;
  transform-origin: center;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main-showcase #showcase > div > span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2039215686);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 16px;
  transform-origin: center;
  transform: scale(0.5);
  transition: 0.4s ease-in-out;
  opacity: 0;
}
#main-showcase #showcase > div > div {
  height: 125px;
  width: 350px;
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  transition: 0.4s ease-in-out;
}
#main-showcase #showcase > div > div > p {
  font-size: 16px;
  font-family: "SpaceGrotesk-SemiBold";
  text-transform: uppercase;
  color: rgb(68, 62, 62);
  margin-bottom: 10px;
}
#main-showcase #showcase > div > div > h5 {
  font-size: 20px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  color: #03060a;
  transition: 0.2s ease-in-out;
}
#main-showcase #showcase > div > div > span {
  width: 48px;
  height: 48px;
  background-color: #cef12b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translate(-50%, -50%);
}
#main-showcase #showcase > div > div > span > i {
  font-size: 35px;
  transform: rotate(-135deg);
}
#main-showcase #showcase > div > div::before {
  content: "";
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: inherit;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
#main-showcase #showcase > div > div:hover > h5 {
  color: #cef12b;
}
#main-showcase #showcase > div:hover > img {
  transform: scale(1.1) rotate(5deg);
}
#main-showcase #showcase > div:hover > span {
  transform: scale(1);
  opacity: 1;
}
#main-showcase #showcase > div:hover > div {
  top: 85%;
}

#main-feedback {
  width: 100%;
  min-height: 80vh;
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}
#main-feedback #feedback-title {
  padding-top: 100px;
  width: 68%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-feedback #feedback-title > p {
  color: #cef12b;
  font-size: 20px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#main-feedback #feedback-title > p > img {
  margin-right: 5px;
}
#main-feedback #feedback-title > h2 {
  font-family: "SpaceGrotesk-Bold";
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 62px;
  margin-top: 15px;
}
#main-feedback #feedback-card {
  width: 745px;
  height: 340px;
  border-radius: 18px;
  background-color: #2D3034;
  margin: 0 auto;
  margin-top: 70px;
  border: 1px solid #424549;
  border-bottom: 6px solid #424549;
  padding-inline: 30px;
  position: relative;
}
#main-feedback #feedback-card > div {
  width: 100%;
}
#main-feedback #feedback-card #feedback-header {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#main-feedback #feedback-card #feedback-header > span:nth-of-type(1) > img {
  width: 20px;
  margin-right: 10px;
}
#main-feedback #feedback-card #feedback-content {
  height: 45%;
}
#main-feedback #feedback-card #feedback-content > p {
  font-size: 19px;
  color: white;
  font-family: "SpaceGrotesk-Medium";
}
#main-feedback #feedback-card #feedback-footer {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main-feedback #feedback-card #feedback-footer > figure {
  display: flex;
  align-items: center;
}
#main-feedback #feedback-card #feedback-footer > figure > img {
  width: 66px;
}
#main-feedback #feedback-card #feedback-footer > figure > span {
  margin-left: 20px;
}
#main-feedback #feedback-card #feedback-footer > figure > span > h5 {
  font-size: 22px;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-SemiBold";
  color: white;
}
#main-feedback #feedback-card #feedback-footer > figure > span > h6 {
  margin-top: 5px;
  font-family: "SpaceGrotesk-Medium";
  font-size: 18px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.863);
}
#main-feedback #feedback-card #feedback-photo > figure {
  display: inline-block;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
#main-feedback #feedback-card #feedback-photo > figure > img {
  width: 100%;
}
#main-feedback #feedback-card #feedback-photo > figure:nth-of-type(1) {
  top: 15%;
  left: -20%;
}
#main-feedback #feedback-card #feedback-photo > figure:nth-of-type(2) {
  top: 50%;
  left: -25%;
}
#main-feedback #feedback-card #feedback-photo > figure:nth-of-type(3) {
  bottom: -10%;
  left: -20%;
}
#main-feedback #feedback-card #feedback-photo > figure:nth-of-type(4) {
  top: 15%;
  left: 120%;
}
#main-feedback #feedback-card #feedback-photo > figure:nth-of-type(5) {
  top: 50%;
  left: 125%;
}
#main-feedback #feedback-card #feedback-photo > figure:nth-of-type(6) {
  bottom: -10%;
  left: 120%;
}
#main-feedback #feedback-card #feedback-photo > figure:hover {
  border: 3px solid #cef12b;
}
#main-feedback #feedback-btns {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
#main-feedback #feedback-btns > span {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #121518;
  transition: 0.4s ease-in-out;
  font-size: 25px;
  border-radius: 50%;
}
#main-feedback #feedback-btns > span:nth-of-type(1) {
  margin-right: 5px;
}
#main-feedback #feedback-btns > span:nth-of-type(2) {
  margin-left: 5px;
}
#main-feedback #feedback-btns > span:hover {
  background-color: #cef12b;
  color: #03060a;
}

#main-team {
  width: 100%;
  min-height: 80vh;
}
#main-team #team-title {
  width: 68%;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-team #team-title > p {
  color: #cef12b;
  font-size: 20px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#main-team #team-title > p > img {
  margin-right: 5px;
}
#main-team #team-title > h2 {
  font-family: "SpaceGrotesk-Bold";
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 62px;
  margin-top: 15px;
}
#main-team #team-cards {
  width: 68%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding-block: 80px;
}
#main-team #team-cards > div {
  height: 440px;
  width: 415px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
}
#main-team #team-cards > div > figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-team #team-cards > div > figure > img {
  animation: animation2 100s linear infinite alternate;
}
#main-team #team-cards > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
#main-team #team-cards > div::after {
  content: "";
  background: linear-gradient(180deg, rgba(206, 241, 43, 0) 42.14%, rgba(206, 241, 43, 0.9) 77.05%);
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: 0.2s linear;
}
#main-team #team-cards > div > span {
  height: 105px;
  width: 375px;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  bottom: -5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
  transform-origin: center;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
#main-team #team-cards > div > span > div > h5 {
  font-size: 24px;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Bold";
  color: #03060a;
}
#main-team #team-cards > div > span > div > h6 {
  font-size: 18px;
  font-family: "SpaceGrotesk-SemiBold";
  color: rgba(17, 17, 17, 0.9019607843);
  text-transform: capitalize;
  margin-top: 10px;
}
#main-team #team-cards > div > span > figure {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #03060a;
  padding-right: 3px;
  transition: 0.2s ease-in-out;
}
#main-team #team-cards > div > span > figure:hover {
  background-color: #cef12b;
}
#main-team #team-cards > div > div {
  position: absolute;
  left: 110%;
  top: 44%;
  transform: translate(-50%, -50%);
  z-index: 4;
  transition: 0.4s ease-in-out;
}
#main-team #team-cards > div > div > span {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  transition: 0.2s ease-in-out;
}
#main-team #team-cards > div > div > span > img {
  width: 25px;
}
#main-team #team-cards > div > div > span:hover {
  background-color: #cef12b;
}
#main-team #team-cards > div:hover::after {
  transform: scaleY(1);
}
#main-team #team-cards > div:hover > span {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
#main-team #team-cards > div:hover > div {
  left: 88%;
}

#main-blog {
  width: 100%;
  min-height: 80vh;
  background-image: url(../img/img37.png);
  background-position: center;
  background-size: cover;
}
#main-blog #blog-title {
  width: 68%;
  padding-top: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-blog #blog-title > p {
  color: #cef12b;
  font-size: 20px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#main-blog #blog-title > p > img {
  margin-right: 5px;
}
#main-blog #blog-title > h2 {
  font-family: "SpaceGrotesk-Bold";
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 62px;
  margin-top: 15px;
}
#main-blog #blog-cards {
  width: 68%;
  padding: 50px 0 110px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
#main-blog #blog-cards > div {
  width: 415px;
  height: 510px;
  border-radius: 16px;
  background-color: #1C2021;
  overflow: hidden;
}
#main-blog #blog-cards > div > figure {
  width: 100%;
  height: 55%;
  position: relative;
  overflow: hidden;
}
#main-blog #blog-cards > div > figure > img {
  width: 100%;
  transition: 0.4s ease-in-out;
}
#main-blog #blog-cards > div > figure > span {
  height: 35px;
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #cef12b;
  position: absolute;
  bottom: 10px;
  left: 20px;
  border-radius: 4px;
  z-index: 2;
}
#main-blog #blog-cards > div > figure > span > p {
  font-size: 18px;
  color: #03060a;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-SemiBold";
}
#main-blog #blog-cards > div > figure::after {
  content: "";
  width: 140%;
  height: 198%;
  position: absolute;
  top: -47%;
  left: -27%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.322);
  transform: rotate(45deg) scaleX(0);
  transition: 0.4s ease-in-out;
}
#main-blog #blog-cards > div > div {
  width: 100%;
  height: 45%;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#main-blog #blog-cards > div > div > h6 {
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Medium";
  display: flex;
  align-items: center;
}
#main-blog #blog-cards > div > div > h6 > img {
  margin-right: 10px;
}
#main-blog #blog-cards > div > div > p {
  font-size: 20px;
  color: white;
  font-family: "SpaceGrotesk-Bold";
  line-height: 28px;
  display: flex;
  transition: 0.4s ease-in-out;
}
#main-blog #blog-cards > div > div > a {
  text-transform: uppercase;
  color: white;
  font-family: "SpaceGrotesk-Bold";
  display: flex;
  align-items: center;
  transition: 0.4s ease-in-out;
}
#main-blog #blog-cards > div > div > a > i {
  font-size: 30px;
  transform: rotate(-135deg);
  transition: 0.4s ease-in-out;
}
#main-blog #blog-cards > div:hover > figure > img {
  transform: scale(1.05) rotate(2deg);
}
#main-blog #blog-cards > div:hover > figure::after {
  animation: animation3 0.7s ease-in-out;
}
#main-blog #blog-cards > div:hover > div > p {
  color: #cef12b;
}
#main-blog #blog-cards > div:hover > div > a {
  color: #cef12b;
}
#main-blog #blog-cards > div:hover > div > a > i {
  transform: rotate(-90deg);
}

footer {
  width: 100%;
  min-height: 80vh;
  position: relative;
  padding-bottom: 50px;
}
footer > img {
  position: absolute;
  bottom: 0;
  right: 0;
}
footer #footer-title {
  width: 68%;
  margin: 0 auto;
  padding-top: 50px;
}
footer #footer-title > a {
  font-size: 180px;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Bold";
  display: flex;
  justify-content: center;
  color: white;
  text-decoration-line: underline;
  text-underline-position: from-font;
  transition: 0.2s ease-in-out;
}
footer #footer-title > a:hover {
  color: #cef12b;
}
footer #footer-content {
  width: 68%;
  margin: 0 auto;
  display: flex;
  padding-top: 50px;
}
footer #footer-content > div {
  height: 100%;
}
footer #footer-content > div:nth-of-type(1) > img {
  width: 150px;
  margin-bottom: 20px;
}
footer #footer-content > div:nth-of-type(1) > p {
  font-size: 18px;
  font-family: "SpaceGrotesk-Medium";
  color: #ffffff;
  line-height: 28px;
  margin-bottom: 30px;
}
footer #footer-content > div:nth-of-type(1) > div {
  display: flex;
}
footer #footer-content > div:nth-of-type(1) > div > figure {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1D1F23;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
  background-color: #cef12b;
}
footer #footer-content > div:nth-of-type(1) > div > figure > img {
  width: 15px;
  color: white;
}
footer #footer-content > div:nth-of-type(1) > div > figure:hover {
  transform: rotate(360deg) scale(1.1);
}
footer #footer-content > div:nth-of-type(2) {
  justify-content: center;
}
footer #footer-content > div:nth-of-type(2), footer #footer-content > div:nth-of-type(3) {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}
footer #footer-content > div:nth-of-type(2) > ul > li, footer #footer-content > div:nth-of-type(3) > ul > li {
  margin-bottom: 15px;
}
footer #footer-content > div:nth-of-type(2) > ul > li > h5, footer #footer-content > div:nth-of-type(3) > ul > li > h5 {
  font-size: 24px;
  text-transform: capitalize;
  color: white;
  font-family: "SpaceGrotesk-Bold";
}
footer #footer-content > div:nth-of-type(2) > ul > li > a, footer #footer-content > div:nth-of-type(3) > ul > li > a {
  color: rgba(255, 255, 255, 0.664);
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Medium";
  transition: 0.3s ease-in-out;
}
footer #footer-content > div:nth-of-type(2) > ul > li > a > img, footer #footer-content > div:nth-of-type(3) > ul > li > a > img {
  margin-right: 5px;
}
footer #footer-content > div:nth-of-type(2) > ul > li:hover > a, footer #footer-content > div:nth-of-type(3) > ul > li:hover > a {
  color: #cef12b;
}
footer #footer-content > div:nth-of-type(4) {
  padding-top: 1px;
}
footer #footer-content > div:nth-of-type(4) > h6 {
  color: white;
  text-transform: capitalize;
  font-size: 24px;
  font-family: "SpaceGrotesk-Bold";
  margin-bottom: 15px;
}
footer #footer-content > div:nth-of-type(4) > img {
  margin-bottom: 15px;
}
footer #footer-content > div:nth-of-type(4) > form {
  width: 305px;
  height: 70px;
  border-radius: 8px;
  background-color: #1D1F23;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}
footer #footer-content > div:nth-of-type(4) > form > input {
  width: 50%;
  height: 100%;
  background-color: inherit;
  outline: none;
  font-size: 18px;
  color: white;
  font-family: "SpaceGrotesk-Medium";
  border: none;
}
footer #footer-content > div:nth-of-type(4) > form > input::-moz-placeholder {
  color: white;
  font-family: "SpaceGrotesk-Medium";
}
footer #footer-content > div:nth-of-type(4) > form > input::placeholder {
  color: white;
  font-family: "SpaceGrotesk-Medium";
}
footer #footer-content > div:nth-of-type(4) > form > button {
  height: 55px;
  width: 135px;
  background-color: #cef12b;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #03060a;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Bold";
  border: none;
}

#burger-menu {
  width: 25%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 25%;
  background-color: #03060a;
  z-index: 100;
  border: 1px solid rgba(255, 255, 255, 0.315);
  padding: 60px 50px;
  transition: 0.2s ease-in-out;
}
#burger-menu > span {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cef12b;
  position: absolute;
  top: 0;
  right: 0;
}
#burger-menu > span > img {
  width: 20px;
  transition: 0.3s ease-in-out;
}
#burger-menu > span:hover > img {
  transform: rotate(180deg);
}
#burger-menu > figure {
  width: 100%;
  padding-bottom: 10px;
}
#burger-menu > figure > img {
  width: 120px;
}
#burger-menu > ul {
  width: 100%;
}
#burger-menu > ul > li > a {
  padding-block: 15px;
  display: flex;
  font-size: 18px;
  color: white;
  font-family: "SpaceGrotesk-Medium";
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}
#burger-menu > ul > li > a:hover {
  color: #cef12b;
}
#burger-menu > a {
  height: 55px;
  width: 200px;
  background-color: #cef12b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease-in-out;
  margin-block: 20px;
}
#burger-menu > a > p {
  font-size: 18px;
  font-family: "SpaceGrotesk-Bold";
  font-weight: 700 !important;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
#burger-menu > a > span {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  transform-origin: center;
  opacity: 0;
  transform: scaleX(0);
  transition: inherit;
}
#burger-menu > a:hover {
  transform: translateY(-5px);
}
#burger-menu > a:hover > span {
  opacity: 1;
  transform: scaleX(1);
}
#burger-menu #burger-social {
  padding-block: 20px;
}
#burger-menu #burger-social > h5 {
  color: white;
  font-size: 24px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: capitalize;
}
#burger-menu #burger-social > div {
  margin-top: 20px;
  display: flex;
}
#burger-menu #burger-social > div > figure {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #1D1F23;
  margin-right: 10px;
  transition: 0.3s ease-in-out;
  background-color: #cef12b;
}
#burger-menu #burger-social > div > figure > img {
  width: 20px;
  color: white;
}
#burger-menu #burger-social > div > figure:hover {
  transform: rotate(360deg) scale(1.1);
}
#burger-menu #burger-form {
  padding-block: 20px;
}
#burger-menu #burger-form > h5 {
  color: white;
  font-size: 24px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: capitalize;
}
#burger-menu #burger-form > form {
  margin-top: 20px;
  width: 350px;
  height: 70px;
  border-radius: 8px;
  background-color: #1D1F23;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}
#burger-menu #burger-form > form > input {
  width: 50%;
  height: 100%;
  background-color: inherit;
  outline: none;
  font-size: 18px;
  color: white;
  font-family: "SpaceGrotesk-Medium";
  border: none;
}
#burger-menu #burger-form > form > input::-moz-placeholder {
  color: white;
  font-family: "SpaceGrotesk-Medium";
}
#burger-menu #burger-form > form > input::placeholder {
  color: white;
  font-family: "SpaceGrotesk-Medium";
}
#burger-menu #burger-form > form > button {
  height: 55px;
  width: 135px;
  background-color: #cef12b;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #03060a;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Bold";
  border: none;
}

#search-box {
  width: 100%;
  height: 50vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
}
#search-box #close-search {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #F1F1F1;
}
#search-box #close-search > img {
  width: 20px;
  transition: 0.3s ease-in-out;
}
#search-box #close-search:hover > img {
  transform: rotate(180deg);
}
#search-box > form {
  width: 60%;
}
#search-box > form > input {
  width: 100%;
  height: 55px;
  outline: none;
  border: none;
  border-bottom: 2px solid #EDECEC;
  font-family: "SpaceGrotesk-Medium";
  font-size: 28px;
}
#search-box > form > input::-moz-placeholder {
  font-size: 28px;
  color: #cecece;
  font-family: "SpaceGrotesk-Medium";
  text-transform: capitalize;
}
#search-box > form > input::placeholder {
  font-size: 28px;
  color: #cecece;
  font-family: "SpaceGrotesk-Medium";
  text-transform: capitalize;
}
#search-box > form > input:focus {
  border-bottom: 2px solid #cacaca;
}

#bodyOff {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  background-color: rgba(3, 6, 10, 0.6862745098);
  display: none;
}

#goTop {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #cef12b;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 70;
  display: flex;
  justify-content: center;
  align-items: center;
}
#goTop > img {
  width: 30px;
}

#progress {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #cef12b;
  display: flex;
  z-index: 98;
}

#cursor {
  position: fixed;
  z-index: 102;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #cef12b;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
#cursor > span {
  display: flex;
  width: 10px;
  height: 10px;
  background-color: #cef12b;
  border-radius: 50%;
}

.box {
  opacity: 0;
}

.box[data-effect=fade-up] {
  transform: translateY(200px);
}

.box[data-effect=fade-down] {
  transform: translateY(-200px);
}

.box[data-effect=fade-right] {
  transform: translateX(200px);
}

.box[data-effect=fade-left] {
  transform: translateX(-200px);
}

.box[data-delay=".4s"] {
  transition: 0.4s ease-in-out;
}

.box[data-delay=".6s"] {
  transition: 0.6s ease-in-out;
}

.box[data-delay=".8s"] {
  transition: 0.8s ease-in-out;
}

.box.show {
  opacity: 1;
  transform: translate(0px, 0px);
}/*# sourceMappingURL=master.css.map */