@keyframes animation1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-1000deg);

    }
}

@keyframes animation2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1000deg);

    }
}

@keyframes marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

// ---------------------------------header---------------------------------
header {
    background-color: #03060a;
    height: auto;
    background-image: url(../img/img04.png);
    background-size: cover;
    background-position: center top;
}

//  ---------------------header navbar-------------------- 
#headerNav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 15px;

    >nav {
        width: 68%;
        height: 85px;
        background-color: rgba(255, 255, 255, 0.11);
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.144);
        display: flex;

        >div {
            height: 100%;

        }

        #nav-logo {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;

            >a {
                >figure {
                    >img {
                        width: 120px;
                    }
                }
            }
        }

        #nav-menu {
            >ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                >li {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    transition: .3s ease-in-out;
                    color: white;
                    position: relative;
                    cursor: pointer;

                    >a {
                        font-family: 'SpaceGrotesk-Regular';
                        text-transform: capitalize;
                        font-size: 18px;
                    }

                    >ul {
                        position: absolute;
                        width: 200px;
                        top: 100%;
                        background-color: #03060a;
                        border: 1px solid rgba(255, 255, 255, 0.144);
                        border-top: 3px solid #cef12b;
                        padding: 15px 15px;
                        opacity: 0;
                        transform-origin: top;
                        transform: scaleY(0);
                        transition: .4s ease-in-out;

                        >li {
                            padding: 10px 0;
                            color: white;
                            text-transform: capitalize;
                            font-family: 'SpaceGrotesk-Bold';
                            font-size: 18px;
                            cursor: pointer;
                            transition: .4s ease-in-out;
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                width: 0%;
                                height: 3px;
                                background-color: #cef12b;
                                bottom: 0;
                                transition: .4s ease-in-out;

                            }

                            &:hover {
                                color: #cef12b;

                                &::before {
                                    width: 70%;
                                }
                            }
                        }
                    }

                    &:hover {
                        color: #cef12b;

                        >ul {
                            opacity: 1;
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }

        #nav-btn {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            >img {
                cursor: pointer;
            }

            >a {
                height: 55px;
                width: 230px;
                background-color: #cef12b;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                transition: .4s ease-in-out;


                >p {
                    font-size: 18px;
                    font-family: 'SpaceGrotesk-Bold';
                    font-weight: 700 !important;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 2;
                }

                >span {
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    position: absolute;
                    transform-origin: center;
                    opacity: 0;
                    transform: scaleX(0);
                    transition: inherit;
                }

                &:hover {
                    transform: translateY(-5px);

                    >span {
                        opacity: 1;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

//  ---------------------header content-------------------- 
#headerContent {
    width: 68%;
    // border: 1px solid rgb(255, 0, 0);
    margin: 0 auto;
}

#header-content-title {
    width: 100%;
    display: flex;
    padding: 80px 0;

    >div {
        // border: 1px solid white;
        height: 100%;

        &:nth-of-type(1) {
            padding-top: 50px;

            >h1 {
                color: white;
                font-size: 24px;
                font-family: 'SpaceGrotesk-Bold';
                text-transform: uppercase;
                display: flex;
                align-items: center;

                >img {
                    width: 25px;
                    margin-right: 10px;
                }
            }

            >div {
                color: white;
                font-family: 'SpaceGrotesk-Bold';
                text-transform: uppercase;
                font-size: 80px;
                margin-top: 20px;

                >img {
                    animation: animation2 100s linear infinite alternate;
                }

                >figure {
                    height: 65px;
                    width: 150px;
                    border-radius: 110px;
                    border: 2px solid #cef12b;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.1);
                    display: inline-flex;

                    >img {
                        width: 115px;
                    }
                }
            }
        }

        &:nth-of-type(2) {
            >figure {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                position: relative;

                >img {
                    width: 75%;
                    animation: animation1 150s linear infinite alternate;
                }

                >span {
                    width: 170px;
                    height: 170px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(75px);
                    position: absolute;
                    border: 5px solid #03060a;
                    top: -10px;
                    right: -40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >img {
                        animation: animation2 150s linear infinite alternate;

                        &:nth-of-type(2) {
                            animation: none;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}

#header-content-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    >figure {
        position: relative;

        >img {
            &:nth-of-type(2) {
                position: absolute;
                top: -43px;
                left: -30px;
            }
        }
    }

    >span {
        position: absolute;
        top: -55px;
        right: 13px;
        cursor: pointer;

        >img {
            width: 190px;
            animation: animation2 100s linear infinite alternate;
        }

        >div {
            position: absolute;
            color: aliceblue;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            >span {
                width: 50px;
                height: 50px;
                background-color: #03060a;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-135deg);

                >i {
                    font-size: 45px;
                    color: #cef12b;
                }
            }

            >p {
                color: #03060a;
                font-size: 20px;
                text-transform: capitalize;
                font-family: 'SpaceGrotesk-Bold';
                margin-top: 5px;
            }
        }

    }
}

//  ---------------------header marquee-------------------- 
#header-marquee {
    width: 100%;
    height: 85px;
    background-color: #cef12b;
    margin-top: 50px;

    >div {
        height: 100%;
        width: max-content;
        display: flex;
        justify-content: end;
        align-items: center;
        animation: marquee 90s linear infinite;

        >p {
            color: #03060a;
            font-size: 28px;
            font-family: 'SpaceGrotesk-Bold';
            text-transform: uppercase;

        }

        >img{
           margin: 0 25px; 
        }
    }
}