@keyframes animation1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-1000deg);

    }
}

@keyframes animation2 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1000deg);

    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes animation3 {
    0% {
        transform: rotate(45deg) scaleX(0);
        opacity: 0;
    }

    50% {
        transform: rotate(45deg) scaleX(1);
        opacity: 1;
    }

    100% {
        transform: rotate(45deg) scaleX(1);
        opacity: 0;
    }
}

// ---------------------------------header---------------------------------
header {
    background-color: #03060a;
    height: auto;
    background-image: url(../img/img04.png);
    background-size: cover;
    background-position: center top;
}

//  ---------------------header navbar-------------------- 
#headerNav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 15px;

    >nav {
        width: 68%;
        height: 85px;
        background-color: rgba(255, 255, 255, 0.11);
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.144);
        display: flex;

        >div {
            height: 100%;

        }

        #nav-logo {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-left: 20px;

            >a {
                >figure {
                    >img {
                        width: 120px;
                    }
                }
            }
        }

        #nav-menu {
            >ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;

                >li {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    transition: .3s ease-in-out;
                    color: white;
                    position: relative;
                    cursor: pointer;

                    >a {
                        font-family: 'SpaceGrotesk-Regular';
                        text-transform: capitalize;
                        font-size: 18px;
                    }

                    >ul {
                        position: absolute;
                        width: 200px;
                        top: 100%;
                        background-color: #03060a;
                        border: 1px solid rgba(255, 255, 255, 0.144);
                        border-top: 3px solid #cef12b;
                        padding: 15px 15px;
                        opacity: 0;
                        transform-origin: top;
                        transform: scaleY(0);
                        transition: .4s ease-in-out;

                        >li {
                            padding: 10px 0;
                            color: white;
                            text-transform: capitalize;
                            font-family: 'SpaceGrotesk-Bold';
                            font-size: 18px;
                            cursor: pointer;
                            transition: .4s ease-in-out;
                            position: relative;

                            &::before {
                                content: '';
                                position: absolute;
                                width: 0%;
                                height: 3px;
                                background-color: #cef12b;
                                bottom: 0;
                                transition: .4s ease-in-out;

                            }

                            &:hover {
                                color: #cef12b;

                                &::before {
                                    width: 70%;
                                }
                            }
                        }
                    }

                    &:hover {
                        color: #cef12b;

                        >ul {
                            opacity: 1;
                            transform: scaleY(1);
                        }
                    }
                }
            }
        }

        #nav-btn {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            >img {
                cursor: pointer;
            }

            >a {
                height: 55px;
                width: 230px;
                background-color: #cef12b;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                transition: .4s ease-in-out;


                >p {
                    font-size: 18px;
                    font-family: 'SpaceGrotesk-Bold';
                    font-weight: 700 !important;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 2;
                }

                >span {
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    position: absolute;
                    transform-origin: center;
                    opacity: 0;
                    transform: scaleX(0);
                    transition: inherit;
                }

                &:hover {
                    transform: translateY(-5px);

                    >span {
                        opacity: 1;
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
}

//  ---------------------header content-------------------- 
#headerContent {
    width: 68%;
    // border: 1px solid rgb(255, 0, 0);
    margin: 0 auto;
}

#header-content-title {
    width: 100%;
    display: flex;
    padding: 80px 0;

    >div {
        // border: 1px solid white;
        height: 100%;

        &:nth-of-type(1) {
            padding-top: 50px;

            >h1 {
                color: white;
                font-size: 24px;
                font-family: 'SpaceGrotesk-Bold';
                text-transform: uppercase;
                display: flex;
                align-items: center;

                >img {
                    width: 25px;
                    margin-right: 10px;
                }
            }

            >div {
                color: white;
                font-family: 'SpaceGrotesk-Bold';
                text-transform: uppercase;
                font-size: 80px;
                margin-top: 20px;

                >img {
                    animation: animation2 100s linear infinite alternate;
                }

                >figure {
                    height: 65px;
                    width: 150px;
                    border-radius: 110px;
                    border: 2px solid #cef12b;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(255, 255, 255, 0.1);
                    display: inline-flex;

                    >img {
                        width: 115px;
                    }
                }
            }
        }

        &:nth-of-type(2) {
            >figure {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: end;
                position: relative;

                >img {
                    width: 75%;
                    animation: animation1 150s linear infinite alternate;
                }

                >span {
                    width: 170px;
                    height: 170px;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.1);
                    backdrop-filter: blur(75px);
                    position: absolute;
                    border: 5px solid #03060a;
                    top: -10px;
                    right: -40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    >img {
                        animation: animation2 150s linear infinite alternate;

                        &:nth-of-type(2) {
                            animation: none;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}

#header-content-banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    >figure {
        position: relative;

        >img {
            &:nth-of-type(2) {
                position: absolute;
                top: -43px;
                left: -30px;
            }
        }
    }

    >span {
        position: absolute;
        top: -55px;
        right: 13px;
        cursor: pointer;

        >img {
            width: 190px;
            animation: animation2 100s linear infinite alternate;
        }

        >div {
            position: absolute;
            color: aliceblue;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            >span {
                width: 50px;
                height: 50px;
                background-color: #03060a;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-135deg);

                >i {
                    font-size: 45px;
                    color: #cef12b;
                }
            }

            >p {
                color: #03060a;
                font-size: 20px;
                text-transform: capitalize;
                font-family: 'SpaceGrotesk-Bold';
                margin-top: 5px;
            }
        }

    }
}

//  ---------------------header marquee-------------------- 
#header-marquee {
    width: 100%;
    height: 85px;
    background-color: #cef12b;
    margin-top: 50px;

    >div {
        height: 100%;
        width: max-content;
        display: flex;
        justify-content: end;
        align-items: center;
        animation: marquee 90s linear infinite;

        >p {
            color: #03060a;
            font-size: 28px;
            font-family: 'SpaceGrotesk-Bold';
            text-transform: uppercase;

        }

        >img {
            margin: 0 25px;
        }
    }
}

// ---------------------------------main---------------------------------
main {
    width: 100%;
    background-color: #03060a;
    padding-top: 150px;
}

//  ---------------------creativity-------------------- 

#creativity {
    width: 68%;
    display: flex;
    margin: 0 auto;


    #creativity-img {
        height: auto;

        >figure {
            width: 100%;
            position: relative;

            >img {

                &:nth-of-type(1) {
                    width: 650px;
                }

                &:nth-of-type(2) {
                    width: 650px;
                    position: absolute;
                    top: -25px;
                    left: -35px;
                }

                &:nth-of-type(3) {
                    width: 765px;
                    height: 200px;
                    position: absolute;
                    top: -145px;
                    left: -35px;
                }
            }
        }
    }

    #creativity-content {
        padding-left: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        >h3 {
            color: #cef12b;
            font-size: 20px;
            font-family: 'SpaceGrotesk-Bold';
            text-transform: uppercase;
            margin-bottom: 20px;
            display: flex;
            align-items: center;

            >img {
                margin-right: 10px;
            }
        }

        >h2 {
            font-size: 48px;
            line-height: 64px;
            font-family: 'SpaceGrotesk-Bold';
            color: white;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        >p {
            color: rgba(255, 255, 255, 0.8);
            font-size: 18px;
            line-height: 26px;
            font-family: 'SpaceGrotesk-Medium';
            margin-bottom: 20px;
        }

        >div {
            height: 150px;
            width: 565px;
            border-radius: 10px;
            background-color: #121518;
            margin-bottom: 30px;
            padding: 15px;

            >div {
                width: 100%;
                height: 50%;
                margin-bottom: 10px;

                >span {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;

                    >p {
                        color: white;
                        text-transform: capitalize;
                        font-size: 18px;
                        font-family: 'SpaceGrotesk-SemiBold';
                    }
                }

                >div {
                    width: 100%;
                    height: 10px;
                    background-color: #2A2C30;
                    border-radius: 40px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 98%;
                        background-color: #cef12b;
                        border-radius: 40px;
                    }
                }

                &:nth-of-type(2) {
                    >div {
                        &::after {
                            width: 90%;
                        }
                    }
                }
            }
        }

        >a {
            height: 55px;
            width: 270px;
            background-color: #cef12b;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            transition: .4s ease-in-out;


            >p {
                font-size: 18px;
                font-family: 'SpaceGrotesk-Bold';
                font-weight: 700 !important;
                text-transform: uppercase;
                position: relative;
                z-index: 2;
            }

            >span {
                width: 100%;
                height: 100%;
                background-color: white;
                position: absolute;
                transform-origin: center;
                opacity: 0;
                transform: scaleX(0);
                transition: inherit;
            }

            &:hover {
                transform: translateY(-5px);

                >span {
                    opacity: 1;
                    transform: scaleX(1);
                }
            }
        }
    }
}

//  ---------------------main marquee-------------------- 
#main-marquee {
    margin-top: 80px;
    width: 100%;


    >h4 {
        font-family: 'SpaceGrotesk-Bold';
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

        >img {
            margin-right: 5px;
        }
    }

    >div {
        width: auto;
        padding-block: 50px;
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-inline: 20px;
        width: max-content;
        animation: marquee 20s linear alternate infinite;

        >div {
            height: 80px;
            border-radius: 120px;
            background-color: #1D1F23;
            display: flex;
            align-items: center;
            padding: 10px 15px 10px 10px;
            margin-inline: 15px;
            cursor: pointer;
            transition: .4s ease-in-out;

            >figure {
                position: relative;
                overflow: hidden;
                margin-right: 10px;

                >img {
                    width: 100%;
                    border-radius: 50%;
                }

                >span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    background-color: #03060a;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    opacity: 0;
                    transition: .4s ease-in-out;


                    >i {
                        color: #cef12b;
                        font-size: 40px;
                        transform: rotate(-135deg);
                    }

                }
            }

            >h3 {
                color: white;
                text-transform: uppercase;
                font-family: 'SpaceGrotesk-Bold';
                font-size: 24px;
                transition: .4s ease-in-out;

            }

            &:hover {
                background-color: #cef12b;

                >h3 {
                    color: #03060a;
                }

                >figure {

                    >span {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

//  ---------------------main services-------------------- 
#main-services {
    width: 100%;
    height: 200vh;
    background-image: url(../img/img20.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    #services-title {
        padding: 100px 0 50px 0;
        width: 68%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        >h4 {
            color: #cef12b;
            font-size: 20px;
            font-family: 'SpaceGrotesk-Bold';
            text-transform: uppercase;
            display: flex;
            align-items: center;

            >img {
                margin-right: 5px;
            }
        }

        >h3 {
            font-family: 'SpaceGrotesk-Bold';
            color: white;
            text-transform: uppercase;
            font-size: 48px;
            line-height: 62px;
            margin-top: 15px;
        }
    }

    #services-content {
        margin: 0 auto;
        width: 68%;

        >section {
            width: 100%;
            height: 250px;
            background: rgba(255, 255, 255, 0.06);
            border-radius: 20px;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
            margin-bottom: 50px;

            >div {
                display: inline;
                height: max-content;

                >h2 {
                    color: white;
                    font-size: 44px;
                    text-transform: uppercase;
                    font-family: 'SpaceGrotesk-Bold';
                    margin-bottom: 10px;
                    transition: .4s ease-in-out;

                }

                >ul {
                    display: flex;
                    margin-bottom: 10px;

                    >li {
                        height: 40px;
                        border-radius: 6px;
                        background: rgba(255, 255, 255, 0.06);
                        padding: 10px 12px;
                        color: white;
                        text-transform: capitalize;
                        font-family: 'SpaceGrotesk-Medium';
                        margin-right: 10px;
                        font-size: 18px;
                        display: flex;
                        align-items: center;
                    }
                }
            }

            >span {
                background: rgba(255, 255, 255, 0.1);
                height: 80px;
                width: 80px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: .4s ease-in-out;


                >i {
                    font-size: 50px;
                    transform: rotate(-135deg);
                    color: white;
                    margin-top: 5px;
                    transition: .4s ease-in-out;
                }
            }

            >figure {
                position: absolute;
                top: 50%;
                left: 65%;
                transform: translate(-50%, -50%) scale(0.5);
                opacity: 0;
                transition: .4s ease-in-out;

            }

            &:hover {
                >div {
                    >h2 {
                        color: #cef12b;
                    }
                }

                >span {
                    background-color: #cef12b;

                    >i {
                        color: #03060a;
                    }
                }

                >figure {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                }
            }
        }
    }

    >span {
        cursor: pointer;
        position: relative;

        >img {
            width: 190px;
            animation: animation2 100s linear infinite alternate;
        }

        >div {
            position: absolute;
            color: aliceblue;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            >span {
                width: 50px;
                height: 50px;
                background-color: #03060a;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-135deg);

                >i {
                    font-size: 45px;
                    color: #cef12b;
                }
            }

            >p {
                color: #03060a;
                font-size: 20px;
                text-transform: capitalize;
                font-family: 'SpaceGrotesk-Bold';
                margin-top: 5px;
            }
        }

    }

}

//  ---------------------main showcase-------------------- 
#main-showcase {
    width: 100%;
    min-height: 100vh;

    #showcase-title {
        width: 68%;
        height: 200px;
        margin: 0 auto;
        display: flex;
        align-items: end;
        justify-content: space-between;

        >div {
            >p {
                color: #cef12b;
                font-size: 20px;
                font-family: 'SpaceGrotesk-Bold';
                text-transform: uppercase;
                display: flex;
                align-items: center;

                >img {
                    margin-right: 5px;
                }
            }

            >h2 {
                font-family: 'SpaceGrotesk-Bold';
                color: white;
                text-transform: uppercase;
                font-size: 48px;
                line-height: 62px;
                margin-top: 15px;
            }
        }

        #showcase-btns {
            display: flex;

            >span {
                width: 55px;
                height: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: #121518;
                transition: .4s ease-in-out;
                cursor: pointer;
                font-size: 25px;
                border-radius: 50%;
                margin-right: 10px;

                &:hover {
                    background-color: #cef12b;
                    color: #03060a;
                }
            }
        }
    }

    #showcase {
        width: 68%;
        padding: 50px 0;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        >div {
            height: 510px;
            width: 630px;
            border-radius: 16px;
            position: relative;
            overflow: hidden;

            >img {
                width: 100%;
                transition: .4s ease-in-out;
                transform-origin: center;
            }

            >span {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                background-color: #00000034;
                backdrop-filter: blur(2px);
                border-radius: 16px;
                transform-origin: center;
                transform: scale(0.5);
                transition: .4s ease-in-out;
                opacity: 0;
            }

            >div {
                height: 125px;
                width: 350px;
                position: absolute;
                top: 125%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: white;
                z-index: 2;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 10px;
                transition: .4s ease-in-out;
                cursor: pointer;

                >p {
                    font-size: 16px;
                    font-family: 'SpaceGrotesk-SemiBold';
                    text-transform: uppercase;
                    color: rgb(68, 62, 62);
                    margin-bottom: 10px;
                }

                >h5 {
                    font-size: 20px;
                    font-family: 'SpaceGrotesk-Bold';
                    text-transform: uppercase;
                    color: #03060a;
                    transition: .2s ease-in-out;
                }

                >span {
                    width: 48px;
                    height: 48px;
                    background-color: #cef12b;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 50%;
                    top: -10%;
                    transform: translate(-50%, -50%);

                    >i {
                        font-size: 35px;
                        transform: rotate(-135deg);
                    }
                }

                &::before {
                    content: '';
                    justify-content: center;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    background-color: inherit;
                    position: absolute;
                    top: 5%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: -1;
                }

                &:hover {
                    >h5 {
                        color: #cef12b;
                    }
                }
            }

            &:hover {
                >img {
                    transform: scale(1.1) rotate(5deg);
                }

                >span {
                    transform: scale(1);
                    opacity: 1;
                }

                >div {
                    top: 85%;
                }
            }
        }
    }
}

//  ---------------------main showcase-------------------- 
#main-feedback {
    width: 100%;
    min-height: 80vh;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: center;

    #feedback-title {
        padding-top: 100px;
        width: 68%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        >p {
            color: #cef12b;
            font-size: 20px;
            font-family: 'SpaceGrotesk-Bold';
            text-transform: uppercase;
            display: flex;
            align-items: center;

            >img {
                margin-right: 5px;
            }
        }

        >h2 {
            font-family: 'SpaceGrotesk-Bold';
            color: white;
            text-transform: uppercase;
            font-size: 48px;
            line-height: 62px;
            margin-top: 15px;
        }

    }

    #feedback-card {
        width: 745px;
        height: 340px;
        border-radius: 18px;
        background-color: #2D3034;
        margin: 0 auto;
        margin-top: 70px;
        border: 1px solid #424549;
        border-bottom: 6px solid #424549;
        padding-inline: 30px;
        position: relative;

        >div {
            width: 100%;
        }

        #feedback-header {
            height: 25%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            >span {
                &:nth-of-type(1) {
                    >img {
                        width: 20px;
                        margin-right: 10px;
                    }
                }
            }
        }

        #feedback-content {
            height: 45%;

            >p {
                font-size: 19px;
                color: white;
                font-family: 'SpaceGrotesk-Medium';
            }
        }

        #feedback-footer {
            height: 30%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            >figure {
                display: flex;
                align-items: center;

                >img {
                    width: 66px;
                }

                >span {
                    margin-left: 20px;

                    >h5 {
                        font-size: 22px;
                        text-transform: capitalize;
                        font-family: "SpaceGrotesk-SemiBold";
                        color: white;
                    }

                    >h6 {
                        margin-top: 5px;
                        font-family: 'SpaceGrotesk-Medium';
                        font-size: 18px;
                        text-transform: capitalize;
                        color: rgba(255, 255, 255, 0.863);
                    }
                }
            }
        }

        #feedback-photo {
            >figure {
                display: inline-block;
                width: 80px;
                border-radius: 50%;
                position: absolute;
                overflow: hidden;
                transform: translate(-50%, -50%);
                cursor: pointer;

                >img {
                    width: 100%;
                }

                &:nth-of-type(1) {
                    top: 15%;
                    left: -20%;
                }

                &:nth-of-type(2) {
                    top: 50%;
                    left: -25%;
                }

                &:nth-of-type(3) {
                    bottom: -10%;
                    left: -20%;
                }

                &:nth-of-type(4) {
                    top: 15%;
                    left: 120%;
                }

                &:nth-of-type(5) {
                    top: 50%;
                    left: 125%;
                }

                &:nth-of-type(6) {
                    bottom: -10%;
                    left: 120%;
                }

                &:hover {
                    border: 3px solid #cef12b;
                }
            }
        }
    }
}

//  ---------------------main team-------------------- 
#main-team {
    width: 100%;
    min-height: 80vh;

    #team-title {
        width: 68%;
        padding-top: 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        >p {
            color: #cef12b;
            font-size: 20px;
            font-family: 'SpaceGrotesk-Bold';
            text-transform: uppercase;
            display: flex;
            align-items: center;

            >img {
                margin-right: 5px;
            }
        }

        >h2 {
            font-family: 'SpaceGrotesk-Bold';
            color: white;
            text-transform: uppercase;
            font-size: 48px;
            line-height: 62px;
            margin-top: 15px;
        }
    }

    #team-cards {
        width: 68%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        padding-block: 80px;

        >div {
            height: 440px;
            width: 415px;
            border-radius: 16px;
            overflow: hidden;
            position: relative;

            >figure {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;


                >img {
                    animation: animation2 100s linear infinite alternate;
                }
            }

            >img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index: 1;
            }

            &::after {
                content: '';
                background: linear-gradient(180deg, rgba(206, 241, 43, 0) 42.14%, rgba(206, 241, 43, 0.9) 77.05%);
                z-index: 2;
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                transform-origin: bottom;
                transform: scaleY(0);
                transition: .2s linear;

            }

            >span {
                height: 105px;
                width: 375px;
                background-color: white;
                border-radius: 8px;
                position: absolute;
                z-index: 3;
                left: 50%;
                transform: translate(-50%, -50%) scale(.5);
                bottom: -5%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-inline: 10px;
                transform-origin: center;
                opacity: 0;
                transition: .4s ease-in-out;


                >div {
                    >h5 {
                        font-size: 24px;
                        text-transform: capitalize;
                        font-family: 'SpaceGrotesk-Bold';
                        color: #03060a;
                    }

                    >h6 {
                        font-size: 18px;
                        font-family: 'SpaceGrotesk-SemiBold';
                        color: #111111e6;
                        text-transform: capitalize;
                        margin-top: 10px;
                    }
                }

                >figure {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #03060a;
                    padding-right: 3px;
                    transition: .2s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        background-color: #cef12b;
                    }
                }
            }

            >div {
                position: absolute;
                left: 110%;
                top: 44%;
                transform: translate(-50%, -50%);
                z-index: 4;
                transition: .4s ease-in-out;

                >span {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: rgb(255, 255, 255);
                    margin-bottom: 10px;
                    transition: .2s ease-in-out;
                    cursor: pointer;

                    >img {
                        width: 25px;
                    }

                    &:hover {
                        background-color: #cef12b;
                    }
                }
            }

            &:hover {

                &::after {
                    transform: scaleY(1);
                }

                >span {
                    transform: translate(-50%, -50%) scale(1);
                    opacity: 1;
                }

                >div {
                    left: 88%;
                }
            }
        }
    }
}

//  ---------------------main blog-------------------- 
#main-blog {
    width: 100%;
    min-height: 80vh;
    background-image: url(../img/img37.png);
    background-position: center;
    background-size: cover;

    #blog-title {
        width: 68%;
        padding-top: 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        >p {
            color: #cef12b;
            font-size: 20px;
            font-family: 'SpaceGrotesk-Bold';
            text-transform: uppercase;
            display: flex;
            align-items: center;

            >img {
                margin-right: 5px;
            }
        }

        >h2 {
            font-family: 'SpaceGrotesk-Bold';
            color: white;
            text-transform: uppercase;
            font-size: 48px;
            line-height: 62px;
            margin-top: 15px;
        }
    }

    #blog-cards {
        width: 68%;
        padding: 50px 0 110px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;

        >div {
            width: 415px;
            height: 510px;
            border-radius: 16px;
            background-color: #1C2021;
            overflow: hidden;
            cursor: pointer;

            >figure {
                width: 100%;
                height: 55%;
                position: relative;
                overflow: hidden;

                >img {
                    width: 100%;
                    transition: .4s ease-in-out;

                }

                >span {
                    height: 35px;
                    width: 150px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    background-color: #cef12b;
                    position: absolute;
                    bottom: 10px;
                    left: 20px;
                    border-radius: 4px;
                    z-index: 2;

                    >p {
                        font-size: 18px;
                        color: #03060a;
                        text-transform: uppercase;
                        font-family: 'SpaceGrotesk-SemiBold';
                    }
                }

                &::after {
                    content: '';
                    width: 140%;
                    height: 198%;
                    position: absolute;
                    top: -47%;
                    left: -27%;
                    z-index: 1;
                    background-color: rgba(255, 255, 255, 0.322);
                    transform: rotate(45deg) scaleX(0);
                    transition: .4s ease-in-out;
                }
            }

            >div {
                width: 100%;
                height: 45%;
                padding: 28px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                >h6 {
                    color: white;
                    font-size: 16px;
                    text-transform: uppercase;
                    font-family: 'SpaceGrotesk-Medium';
                    display: flex;
                    align-items: center;

                    >img {
                        margin-right: 10px;
                    }
                }

                >p {
                    font-size: 20px;
                    color: white;
                    font-family: 'SpaceGrotesk-Bold';
                    line-height: 28px;
                    display: flex;
                    transition: .4s ease-in-out;

                }

                >a {
                    text-transform: uppercase;
                    color: white;
                    font-family: 'SpaceGrotesk-Bold';
                    display: flex;
                    align-items: center;
                    transition: .4s ease-in-out;


                    >i {
                        font-size: 30px;
                        transform: rotate(-135deg);
                        transition: .4s ease-in-out;
                    }
                }
            }

            &:hover {
                >figure {
                    >img {
                        transform: scale(1.05) rotate(2deg);
                    }

                    &::after {
                        animation: animation3 .7s ease-in-out;

                    }
                }

                >div {
                    >p {
                        color: #cef12b;
                    }

                    >a {
                        color: #cef12b;

                        >i {
                            transform: rotate(-90deg);
                        }
                    }
                }
            }
        }
    }
}