@keyframes animation1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-1000deg);
  }
}
@keyframes animation2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1000deg);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
header {
  background-color: #03060a;
  height: auto;
  background-image: url(../img/img04.png);
  background-size: cover;
  background-position: center top;
}

#headerNav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}
#headerNav > nav {
  width: 68%;
  height: 85px;
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  display: flex;
}
#headerNav > nav > div {
  height: 100%;
}
#headerNav > nav #nav-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
}
#headerNav > nav #nav-logo > a > figure > img {
  width: 120px;
}
#headerNav > nav #nav-menu > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#headerNav > nav #nav-menu > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
  color: white;
  position: relative;
  cursor: pointer;
}
#headerNav > nav #nav-menu > ul > li > a {
  font-family: "SpaceGrotesk-Regular";
  text-transform: capitalize;
  font-size: 18px;
}
#headerNav > nav #nav-menu > ul > li > ul {
  position: absolute;
  width: 200px;
  top: 100%;
  background-color: #03060a;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-top: 3px solid #cef12b;
  padding: 15px 15px;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: 0.4s ease-in-out;
}
#headerNav > nav #nav-menu > ul > li > ul > li {
  padding: 10px 0;
  color: white;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Bold";
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  position: relative;
}
#headerNav > nav #nav-menu > ul > li > ul > li::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #cef12b;
  bottom: 0;
  transition: 0.4s ease-in-out;
}
#headerNav > nav #nav-menu > ul > li > ul > li:hover {
  color: #cef12b;
}
#headerNav > nav #nav-menu > ul > li > ul > li:hover::before {
  width: 70%;
}
#headerNav > nav #nav-menu > ul > li:hover {
  color: #cef12b;
}
#headerNav > nav #nav-menu > ul > li:hover > ul {
  opacity: 1;
  transform: scaleY(1);
}
#headerNav > nav #nav-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#headerNav > nav #nav-btn > img {
  cursor: pointer;
}
#headerNav > nav #nav-btn > a {
  height: 55px;
  width: 230px;
  background-color: #cef12b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease-in-out;
}
#headerNav > nav #nav-btn > a > p {
  font-size: 18px;
  font-family: "SpaceGrotesk-Bold";
  font-weight: 700 !important;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
#headerNav > nav #nav-btn > a > span {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  transform-origin: center;
  opacity: 0;
  transform: scaleX(0);
  transition: inherit;
}
#headerNav > nav #nav-btn > a:hover {
  transform: translateY(-5px);
}
#headerNav > nav #nav-btn > a:hover > span {
  opacity: 1;
  transform: scaleX(1);
}

#headerContent {
  width: 68%;
  margin: 0 auto;
}

#header-content-title {
  width: 100%;
  display: flex;
  padding: 80px 0;
}
#header-content-title > div {
  height: 100%;
}
#header-content-title > div:nth-of-type(1) {
  padding-top: 50px;
}
#header-content-title > div:nth-of-type(1) > h1 {
  color: white;
  font-size: 24px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#header-content-title > div:nth-of-type(1) > h1 > img {
  width: 25px;
  margin-right: 10px;
}
#header-content-title > div:nth-of-type(1) > div {
  color: white;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  font-size: 80px;
  margin-top: 20px;
}
#header-content-title > div:nth-of-type(1) > div > img {
  animation: animation2 100s linear infinite alternate;
}
#header-content-title > div:nth-of-type(1) > div > figure {
  height: 65px;
  width: 150px;
  border-radius: 110px;
  border: 2px solid #cef12b;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-flex;
}
#header-content-title > div:nth-of-type(1) > div > figure > img {
  width: 115px;
}
#header-content-title > div:nth-of-type(2) > figure {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  position: relative;
}
#header-content-title > div:nth-of-type(2) > figure > img {
  width: 75%;
  animation: animation1 150s linear infinite alternate;
}
#header-content-title > div:nth-of-type(2) > figure > span {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
  position: absolute;
  border: 5px solid #03060a;
  top: -10px;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-content-title > div:nth-of-type(2) > figure > span > img {
  animation: animation2 150s linear infinite alternate;
}
#header-content-title > div:nth-of-type(2) > figure > span > img:nth-of-type(2) {
  animation: none;
  position: absolute;
}

#header-content-banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#header-content-banner > figure {
  position: relative;
}
#header-content-banner > figure > img:nth-of-type(2) {
  position: absolute;
  top: -43px;
  left: -30px;
}
#header-content-banner > span {
  position: absolute;
  top: -55px;
  right: 13px;
  cursor: pointer;
}
#header-content-banner > span > img {
  width: 190px;
  animation: animation2 100s linear infinite alternate;
}
#header-content-banner > span > div {
  position: absolute;
  color: aliceblue;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#header-content-banner > span > div > span {
  width: 50px;
  height: 50px;
  background-color: #03060a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-135deg);
}
#header-content-banner > span > div > span > i {
  font-size: 45px;
  color: #cef12b;
}
#header-content-banner > span > div > p {
  color: #03060a;
  font-size: 20px;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Bold";
  margin-top: 5px;
}

#header-marquee {
  width: 100%;
  height: 85px;
  background-color: #cef12b;
  margin-top: 50px;
}
#header-marquee > div {
  height: 100%;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  justify-content: end;
  align-items: center;
  animation: marquee 90s linear infinite;
}
#header-marquee > div > p {
  color: #03060a;
  font-size: 28px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
}
#header-marquee > div > img {
  margin: 0 25px;
}

main {
  width: 100%;
  background-color: #03060a;
  padding-top: 150px;
}

#creativity {
  width: 68%;
  display: flex;
  margin: 0 auto;
}
#creativity #creativity-img {
  height: auto;
}
#creativity #creativity-img > figure {
  width: 100%;
  position: relative;
}
#creativity #creativity-img > figure > img:nth-of-type(1) {
  width: 650px;
}
#creativity #creativity-img > figure > img:nth-of-type(2) {
  width: 650px;
  position: absolute;
  top: -25px;
  left: -35px;
}
#creativity #creativity-img > figure > img:nth-of-type(3) {
  width: 765px;
  height: 200px;
  position: absolute;
  top: -145px;
  left: -35px;
}
#creativity #creativity-content {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#creativity #creativity-content > h3 {
  color: #cef12b;
  font-size: 20px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
#creativity #creativity-content > h3 > img {
  margin-right: 10px;
}
#creativity #creativity-content > h2 {
  font-size: 48px;
  line-height: 64px;
  font-family: "SpaceGrotesk-Bold";
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#creativity #creativity-content > p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 26px;
  font-family: "SpaceGrotesk-Medium";
  margin-bottom: 20px;
}
#creativity #creativity-content > div {
  height: 150px;
  width: 565px;
  border-radius: 10px;
  background-color: #121518;
  margin-bottom: 30px;
  padding: 15px;
}
#creativity #creativity-content > div > div {
  width: 100%;
  height: 50%;
  margin-bottom: 10px;
}
#creativity #creativity-content > div > div > span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#creativity #creativity-content > div > div > span > p {
  color: white;
  text-transform: capitalize;
  font-size: 18px;
  font-family: "SpaceGrotesk-SemiBold";
}
#creativity #creativity-content > div > div > div {
  width: 100%;
  height: 10px;
  background-color: #2A2C30;
  border-radius: 40px;
  position: relative;
}
#creativity #creativity-content > div > div > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 98%;
  background-color: #cef12b;
  border-radius: 40px;
}
#creativity #creativity-content > div > div:nth-of-type(2) > div::after {
  width: 90%;
}
#creativity #creativity-content > a {
  height: 55px;
  width: 270px;
  background-color: #cef12b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.4s ease-in-out;
}
#creativity #creativity-content > a > p {
  font-size: 18px;
  font-family: "SpaceGrotesk-Bold";
  font-weight: 700 !important;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
#creativity #creativity-content > a > span {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  transform-origin: center;
  opacity: 0;
  transform: scaleX(0);
  transition: inherit;
}
#creativity #creativity-content > a:hover {
  transform: translateY(-5px);
}
#creativity #creativity-content > a:hover > span {
  opacity: 1;
  transform: scaleX(1);
}

#main-marquee {
  margin-top: 80px;
  width: 100%;
}
#main-marquee > h4 {
  font-family: "SpaceGrotesk-Bold";
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main-marquee > h4 > img {
  margin-right: 5px;
}
#main-marquee > div {
  width: auto;
  padding-block: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  width: -moz-max-content;
  width: max-content;
  animation: marquee 20s linear alternate infinite;
}
#main-marquee > div > div {
  height: 80px;
  border-radius: 120px;
  background-color: #1D1F23;
  display: flex;
  align-items: center;
  padding: 10px 15px 10px 10px;
  margin-inline: 15px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
#main-marquee > div > div > figure {
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}
#main-marquee > div > div > figure > img {
  width: 100%;
  border-radius: 50%;
}
#main-marquee > div > div > figure > span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #03060a;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
  transition: 0.4s ease-in-out;
}
#main-marquee > div > div > figure > span > i {
  color: #cef12b;
  font-size: 40px;
  transform: rotate(-135deg);
}
#main-marquee > div > div > h3 {
  color: white;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Bold";
  font-size: 24px;
  transition: 0.4s ease-in-out;
}
#main-marquee > div > div:hover {
  background-color: #cef12b;
}
#main-marquee > div > div:hover > h3 {
  color: #03060a;
}
#main-marquee > div > div:hover > figure > span {
  opacity: 1;
}

#main-services {
  width: 100%;
  height: 200vh;
  background-image: url(../img/img20.png);
  background-size: cover;
  background-position: center;
}
#main-services #services-title {
  padding: 100px 0 50px 0;
  width: 68%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-services #services-title > h4 {
  color: #cef12b;
  font-size: 20px;
  font-family: "SpaceGrotesk-Bold";
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
#main-services #services-title > h4 > img {
  margin-right: 5px;
}
#main-services #services-title > h3 {
  font-family: "SpaceGrotesk-Bold";
  color: white;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 62px;
  margin-top: 15px;
}
#main-services #services-content {
  margin: 0 auto;
  width: 68%;
}
#main-services #services-content > section {
  width: 100%;
  height: 250px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 50px;
}
#main-services #services-content > section > div {
  display: inline;
  height: -moz-max-content;
  height: max-content;
}
#main-services #services-content > section > div > h2 {
  color: white;
  font-size: 44px;
  text-transform: uppercase;
  font-family: "SpaceGrotesk-Bold";
  margin-bottom: 10px;
  transition: 0.4s ease-in-out;
}
#main-services #services-content > section > div > ul {
  display: flex;
  margin-bottom: 10px;
}
#main-services #services-content > section > div > ul > li {
  height: 40px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.06);
  padding: 10px 12px;
  color: white;
  text-transform: capitalize;
  font-family: "SpaceGrotesk-Medium";
  margin-right: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
}
#main-services #services-content > section > span {
  background: rgba(255, 255, 255, 0.1);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
#main-services #services-content > section > span > i {
  font-size: 50px;
  transform: rotate(-135deg);
  color: white;
  margin-top: 5px;
  transition: 0.4s ease-in-out;
}
#main-services #services-content > section > figure {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  transition: 0.4s ease-in-out;
}
#main-services #services-content > section:hover > div > h2 {
  color: #cef12b;
}
#main-services #services-content > section:hover > span {
  background-color: #cef12b;
}
#main-services #services-content > section:hover > span > i {
  color: #03060a;
}
#main-services #services-content > section:hover > figure {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}/*# sourceMappingURL=master.css.map */