@font-face {
    font-family: SpaceGrotesk-Light;
    src: url(../font/SpaceGrotesk-Light.ttf);
}
@font-face {
    font-family: SpaceGrotesk-Medium;
    src: url(../font/SpaceGrotesk-Medium.ttf);
}
@font-face {
    font-family: SpaceGrotesk-Regular;
    src: url(../font/SpaceGrotesk-Regular.ttf);
}
@font-face {
    font-family: SpaceGrotesk-SemiBold;
    src: url(../font/SpaceGrotesk-SemiBold.ttf);
}
@font-face {
    font-family: SpaceGrotesk-Bold;
    src: url(../font/SpaceGrotesk-Bold.ttf);
}
/* ----------------------------------------- */
*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: none;
}

html{
    scroll-behavior: smooth;
    cursor: none;
    user-select: none;
}

body {
    font-size: 100%;
    overflow-x: hidden;
    cursor: default;
    background-color: #03060a;
    
}

a {
    text-decoration: none;
    color: inherit;
    cursor: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

button{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    outline: none;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid,
.container {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

figure {
    margin: 0;
}

p {
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}